In [1]:
from pprint import pprint
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import text

In [2]:
# создаем engine
# типCубд://пользователь:пароль@url/база

engine = create_engine("postgresql+psycopg2://demo:demo@localhost:5432/demo")

In [3]:
# устанавливаем соединение
connection = engine.connect()

In [ ]:
# Агрегирующие функции

In [15]:
# Найдем максимальную стоимость проката
sel = connection.execute(text("""
SELECT MAX(rental_rate) FROM film;
""")).fetchall()
pprint(sel)

[(Decimal('4.99'),)]

In [16]:
# Найдем среднюю продолжительность фильма
sel = connection.execute(text("""
SELECT AVG(length) FROM film;
""")).fetchall()
pprint(sel)

[(Decimal('115.2720000000000000'),)]

In [17]:
# сколько уникальных имен актеров?
sel = connection.execute(text("""
SELECT COUNT(DISTINCT first_name) FROM actor;
""")).fetchall()
pprint(sel)

[(128,)]

In [18]:
# Найдем сумму и средние продажи конкретного продавца
sel = connection.execute(text("""
SELECT SUM(amount), AVG(amount) FROM payment
WHERE staff_id = 1;
""")).fetchall()
pprint(sel)

[(Decimal('30252.12'), Decimal('4.1486725178277564'))]

In [ ]:
# Вложенные запросы

In [22]:
# Найдем фильмы с продолжительстью выше среднего
# так работать не будет. Агрегатные ф-ии применяются только с SELECT
sel = connection.execute(text("""
SELECT title, length FROM film
WHERE length > AVG(length);
""")).fetchall()
pprint(sel)

ProgrammingError: (psycopg2.errors.GroupingError) ОШИБКА:  агрегатные функции нельзя применять в конструкции WHERE
LINE 3: WHERE length > AVG(length);
                       ^

[SQL:
SELECT title, length FROM film
WHERE length > AVG(length);
]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [24]:
# А так работает
sel = connection.execute(text("""
SELECT title, length FROM film
WHERE length > (
SELECT AVG(length) FROM film);
""")).fetchmany(5)
pprint(sel)

[('Chamber Italian', 117),
 ('Affair Prejudice', 117),
 ('African Egg', 130),
 ('Agent Truman', 169),
 ('Alamo Videotape', 126)]

In [21]:
# названия фильмов, стоимость проката которых ниже максимальной
sel = connection.execute(text("""
SELECT title, rental_rate FROM film
WHERE rental_rate < (
SELECT MAX(rental_rate) FROM film)
ORDER BY rental_rate DESC;
""")).fetchmany(10)
pprint(sel)

[('Barefoot Manchurian', Decimal('2.99')),
 ('Liberty Magnificent', Decimal('2.99')),
 ('License Weekend', Decimal('2.99')),
 ('Life Twisted', Decimal('2.99')),
 ('Egg Igby', Decimal('2.99')),
 ('Cause Date', Decimal('2.99')),
 ('Basic Easy', Decimal('2.99')),
 ('Beach Heartbreakers', Decimal('2.99')),
 ('Lock Rear', Decimal('2.99')),
 ('Lolita World', Decimal('2.99'))]

In [ ]:
# Группировки

In [30]:
# подсчет количества актеров в разрезе фамилий (однофамильцы). Сортировка по количеству совпадений
sel = connection.execute(text("""
SELECT last_name, COUNT(*) FROM actor
GROUP BY last_name
ORDER BY COUNT(*) DESC;
""")).fetchmany(10)
pprint(sel)

[('Kilmer', 5),
 ('Temple', 4),
 ('Nolte', 4),
 ('Williams', 3),
 ('Peck', 3),
 ('Degeneres', 3),
 ('Akroyd', 3),
 ('Harris', 3),
 ('Hoffman', 3),
 ('Zellweger', 3)]

In [35]:
# подсчет количества актеров в разрезе фамилий (однофамильцы). Сортировка по количеству совпадений
sel = connection.execute(text("""
SELECT last_name, COUNT(*) FROM actor
GROUP BY last_name
ORDER BY COUNT(*) DESC;
""")).fetchall()
pprint(sel)

[('Kilmer', 5),
 ('Temple', 4),
 ('Nolte', 4),
 ('Williams', 3),
 ('Peck', 3),
 ('Degeneres', 3),
 ('Akroyd', 3),
 ('Harris', 3),
 ('Hoffman', 3),
 ('Zellweger', 3),
 ('Keitel', 3),
 ('Allen', 3),
 ('Willis', 3),
 ('Davis', 3),
 ('Johansson', 3),
 ('Torn', 3),
 ('Garland', 3),
 ('Berry', 3),
 ('Guiness', 3),
 ('Hopkins', 3),
 ('Mcqueen', 2),
 ('Mcconaughey', 2),
 ('Crawford', 2),
 ('Monroe', 2),
 ('Cronyn', 2),
 ('Wood', 2),
 ('Tandy', 2),
 ('Dean', 2),
 ('Chase', 2),
 ('Olivier', 2),
 ('Bening', 2),
 ('Neeson', 2),
 ('Brody', 2),
 ('Depp', 2),
 ('Hackman', 2),
 ('Dee', 2),
 ('Dukakis', 2),
 ('Wahlberg', 2),
 ('Mostel', 2),
 ('Streep', 2),
 ('Silverstone', 2),
 ('Paltrow', 2),
 ('West', 2),
 ('Mckellen', 2),
 ('Bailey', 2),
 ('Hopper', 2),
 ('Jackman', 2),
 ('Cage', 2),
 ('Gooding', 2),
 ('Winslet', 2),
 ('Tracy', 2),
 ('Penn', 2),
 ('Fawcett', 2),
 ('Dench', 2),
 ('Bolger', 2),
 ('Bridges', 1),
 ('Dreyfuss', 1),
 ('Costner', 1),
 ('Marx', 1),
 ('Pesci', 1),
 ('Pfeiffer', 1),
 ('Posey', 1),
 ('Birch', 1),
 ('Bloom', 1),
 ('Damon', 1),
 ('Hunt', 1),
 ('Sinatra', 1),
 ('Mcdormand', 1),
 ('Bullock', 1),
 ('Phoenix', 1),
 ('Leigh', 1),
 ('Chaplin', 1),
 ('Suvari', 1),
 ('Ball', 1),
 ('Tautou', 1),
 ('Crowe', 1),
 ('Wray', 1),
 ('Basinger', 1),
 ('Tomei', 1),
 ('Hudson', 1),
 ('Malden', 1),
 ('Stallone', 1),
 ('Jolie', 1),
 ('Sobieski', 1),
 ('Dunst', 1),
 ('Bergen', 1),
 ('Wilson', 1),
 ('Reynolds', 1),
 ('Cruise', 1),
 ('Bale', 1),
 ('Jovovich', 1),
 ('Gable', 1),
 ('Presley', 1),
 ('Miranda', 1),
 ('Hurt', 1),
 ('Dern', 1),
 ('Barrymore', 1),
 ('Nicholson', 1),
 ('Close', 1),
 ('Swank', 1),
 ('Hawke', 1),
 ('Pitt', 1),
 ('Heston', 1),
 ('Goldberg', 1),
 ('Ryder', 1),
 ('Gibson', 1),
 ('Bacall', 1),
 ('Day-Lewis', 1),
 ('Cruz', 1),
 ('Pinkett', 1),
 ('Bergman', 1),
 ('Wayne', 1),
 ('Mansfield', 1),
 ('Witherspoon', 1),
 ('Voight', 1),
 ('Grant', 1),
 ('Carrey', 1),
 ('Astaire', 1),
 ('Hope', 1),
 ('Walken', 1),
 ('Lollobrigida', 1)]

In [37]:
# подсчет количества фильмов в разрезе рейтингов (распределение рейтингов)
sel = connection.execute(text("""
SELECT rating, COUNT(title) FROM film
GROUP BY rating
ORDER BY COUNT(title) DESC;
""")).fetchall()
pprint(sel)

[('PG-13', 223), ('NC-17', 210), ('R', 195), ('PG', 194), ('G', 178)]

In [38]:
# найдем максимальные продажи в разрезе продавцов (максимальные продажи каждого продавца)
sel = connection.execute(text("""
SELECT staff_id, MAX(amount) FROM payment
GROUP BY staff_id;
""")).fetchall()
pprint(sel)

[(1, Decimal('11.99')), (2, Decimal('11.99'))]

In [41]:
# найдем минимальные продажи каждого продавца каждому покупателю (группировка по нескольким столбцам)
sel = connection.execute(text("""
SELECT staff_id, customer_id, MIN(amount) FROM payment
GROUP BY staff_id, customer_id;
""")).fetchall()
pprint(sel)

[(1, 1, Decimal('0.99')),
 (1, 480, Decimal('0.99')),
 (2, 474, Decimal('0.99')),
 (1, 41, Decimal('0.99')),
 (2, 337, Decimal('0.99')),
 (1, 70, Decimal('0.99')),
 (1, 28, Decimal('0.99')),
 (1, 337, Decimal('0.99')),
 (1, 596, Decimal('0.99')),
 (2, 229, Decimal('0.99')),
 (2, 458, Decimal('0.99')),
 (2, 30, Decimal('0.99')),
 (1, 73, Decimal('0.99')),
 (1, 11, Decimal('0.99')),
 (2, 200, Decimal('1.99')),
 (2, 343, Decimal('0.99')),
 (1, 447, Decimal('0.99')),
 (1, 377, Decimal('0.99')),
 (1, 98, Decimal('0.99')),
 (1, 5, Decimal('0.99')),
 (2, 394, Decimal('0.99')),
 (2, 126, Decimal('0.99')),
 (2, 272, Decimal('2.99')),
 (2, 155, Decimal('0.99')),
 (2, 174, Decimal('1.99')),
 (1, 293, Decimal('2.99')),
 (1, 239, Decimal('0.99')),
 (1, 410, Decimal('0.99')),
 (2, 187, Decimal('0.99')),
 (1, 189, Decimal('0.99')),
 (1, 194, Decimal('0.99')),
 (2, 391, Decimal('0.99')),
 (2, 372, Decimal('0.99')),
 (2, 562, Decimal('0.99')),
 (2, 426, Decimal('0.99')),
 (1, 244, Decimal('0.99')),
 (2, 302, Decimal('0.99')),
 (1, 381, Decimal('0.99')),
 (2, 513, Decimal('0.99')),
 (2, 346, Decimal('0.99')),
 (2, 125, Decimal('0.99')),
 (1, 416, Decimal('0.99')),
 (2, 28, Decimal('0.99')),
 (2, 279, Decimal('2.99')),
 (2, 81, Decimal('0.99')),
 (2, 264, Decimal('0.99')),
 (2, 442, Decimal('0.99')),
 (1, 439, Decimal('0.99')),
 (1, 146, Decimal('0.99')),
 (1, 413, Decimal('0.99')),
 (2, 273, Decimal('0.99')),
 (2, 181, Decimal('2.99')),
 (1, 524, Decimal('1.99')),
 (2, 282, Decimal('0.99')),
 (1, 347, Decimal('0.99')),
 (1, 550, Decimal('0.99')),
 (1, 533, Decimal('0.99')),
 (2, 479, Decimal('0.99')),
 (1, 282, Decimal('0.99')),
 (1, 63, Decimal('0.99')),
 (2, 12, Decimal('0.99')),
 (1, 202, Decimal('0.99')),
 (2, 490, Decimal('0.99')),
 (1, 184, Decimal('0.99')),
 (2, 502, Decimal('0.99')),
 (2, 501, Decimal('0.99')),
 (2, 390, Decimal('2.99')),
 (1, 462, Decimal('0.99')),
 (2, 18, Decimal('0.99')),
 (2, 573, Decimal('0.99')),
 (1, 242, Decimal('0.99')),
 (1, 253, Decimal('0.99')),
 (2, 214, Decimal('0.99')),
 (2, 206, Decimal('0.99')),
 (2, 373, Decimal('0.99')),
 (1, 99, Decimal('0.99')),
 (1, 490, Decimal('0.99')),
 (2, 414, Decimal('0.99')),
 (2, 437, Decimal('0.99')),
 (1, 323, Decimal('0.99')),
 (1, 343, Decimal('0.99')),
 (2, 241, Decimal('0.99')),
 (1, 431, Decimal('0.99')),
 (1, 592, Decimal('0.99')),
 (2, 352, Decimal('0.99')),
 (2, 586, Decimal('0.99')),
 (2, 324, Decimal('0.99')),
 (1, 256, Decimal('0.99')),
 (1, 361, Decimal('0.00')),
 (1, 115, Decimal('0.99')),
 (2, 378, Decimal('0.99')),
 (2, 164, Decimal('0.99')),
 (2, 139, Decimal('0.99')),
 (1, 452, Decimal('0.99')),
 (1, 19, Decimal('0.99')),
 (1, 590, Decimal('0.99')),
 (2, 558, Decimal('0.99')),
 (2, 579, Decimal('0.99')),
 (1, 259, Decimal('0.99')),
 (2, 80, Decimal('0.99')),
 (2, 331, Decimal('3.99')),
 (2, 511, Decimal('0.99')),
 (1, 200, Decimal('0.99')),
 (2, 473, Decimal('0.99')),
 (2, 267, Decimal('0.00')),
 (1, 213, Decimal('0.99')),
 (1, 369, Decimal('0.99')),
 (1, 418, Decimal('0.99')),
 (2, 370, Decimal('0.99')),
 (2, 235, Decimal('0.99')),
 (1, 593, Decimal('0.99')),
 (1, 551, Decimal('0.99')),
 (2, 597, Decimal('2.99')),
 (2, 148, Decimal('0.99')),
 (2, 67, Decimal('0.99')),
 (2, 510, Decimal('0.99')),
 (1, 574, Decimal('0.99')),
 (1, 232, Decimal('2.99')),
 (2, 351, Decimal('0.99')),
 (2, 541, Decimal('0.99')),
 (2, 462, Decimal('0.99')),
 (1, 124, Decimal('2.99')),
 (2, 268, Decimal('1.99')),
 (1, 77, Decimal('0.99')),
 (2, 402, Decimal('0.99')),
 (1, 252, Decimal('0.99')),
 (1, 136, Decimal('0.99')),
 (1, 238, Decimal('0.99')),
 (2, 144, Decimal('0.99')),
 (2, 37, Decimal('0.99')),
 (1, 502, Decimal('0.99')),
 (2, 257, Decimal('0.99')),
 (2, 211, Decimal('0.99')),
 (2, 84, Decimal('0.99')),
 (2, 368, Decimal('0.99')),
 (1, 417, Decimal('0.99')),
 (2, 483, Decimal('0.99')),
 (2, 449, Decimal('2.99')),
 (2, 246, Decimal('0.99')),
 (2, 230, Decimal('0.99')),
 (1, 448, Decimal('0.00')),
 (2, 554, Decimal('2.99')),
 (1, 453, Decimal('0.99')),
 (2, 298, Decimal('0.99')),
 (1, 363, Decimal('2.99')),
 (2, 308, Decimal('0.99')),
 (1, 372, Decimal('0.99')),
 (2, 342, Decimal('0.99')),
 (2, 203, Decimal('2.99')),
 (1, 573, Decimal('0.99')),
 (1, 48, Decimal('2.99')),
 (2, 233, Decimal('0.99')),
 (1, 341, Decimal('1.99')),
 (2, 5, Decimal('0.99')),
 (2, 87, Decimal('0.99')),
 (1, 35, Decimal('0.99')),
 (2, 225, Decimal('0.99')),
 (2, 48, Decimal('0.99')),
 (1, 581, Decimal('0.99')),
 (1, 415, Decimal('0.99')),
 (2, 72, Decimal('0.99')),
 (1, 51, Decimal('0.99')),
 (1, 195, Decimal('0.99')),
 (2, 154, Decimal('0.99')),
 (1, 582, Decimal('0.99')),
 (1, 201, Decimal('0.99')),
 (2, 231, Decimal('0.99')),
 (2, 387, Decimal('0.99')),
 (1, 492, Decimal('0.99')),
 (2, 435, Decimal('0.99')),
 (2, 563, Decimal('0.99')),
 (2, 380, Decimal('0.99')),
 (1, 236, Decimal('0.99')),
 (2, 227, Decimal('0.99')),
 (1, 331, Decimal('0.99')),
 (1, 110, Decimal('0.99')),
 (1, 243, Decimal('0.99')),
 (2, 262, Decimal('0.99')),
 (2, 134, Decimal('0.99')),
 (2, 326, Decimal('0.99')),
 (2, 512, Decimal('0.99')),
 (1, 310, Decimal('0.99')),
 (2, 537, Decimal('0.99')),
 (2, 289, Decimal('0.99')),
 (1, 131, Decimal('0.99')),
 (1, 356, Decimal('0.99')),
 (1, 595, Decimal('0.99')),
 (1, 402, Decimal('0.99')),
 (1, 66, Decimal('0.99')),
 (1, 523, Decimal('2.99')),
 (1, 476, Decimal('0.99')),
 (1, 186, Decimal('0.99')),
 (1, 548, Decimal('0.99')),
 (1, 325, Decimal('0.99')),
 (2, 338, Decimal('0.99')),
 (2, 584, Decimal('0.99')),
 (1, 350, Decimal('0.99')),
 (1, 255, Decimal('0.99')),
 (1, 24, Decimal('0.99')),
 (1, 183, Decimal('0.99')),
 (1, 120, Decimal('1.99')),
 (2, 88, Decimal('0.99')),
 (2, 223, Decimal('2.99')),
 (1, 408, Decimal('0.99')),
 (2, 309, Decimal('0.99')),
 (2, 21, Decimal('0.99')),
 (2, 177, Decimal('0.99')),
 (2, 376, Decimal('0.99')),
 (1, 399, Decimal('0.99')),
 (1, 392, Decimal('0.99')),
 (2, 180, Decimal('0.99')),
 (2, 99, Decimal('0.99')),
 (1, 584, Decimal('0.99')),
 (2, 406, Decimal('0.99')),
 (1, 25, Decimal('0.99')),
 (1, 21, Decimal('0.99')),
 (2, 467, Decimal('0.99')),
 (1, 461, Decimal('0.99')),
 (1, 458, Decimal('0.99')),
 (2, 330, Decimal('2.99')),
 (1, 419, Decimal('0.99')),
 (2, 75, Decimal('0.00')),
 (1, 382, Decimal('0.99')),
 (2, 441, Decimal('0.99')),
 (2, 291, Decimal('0.99')),
 (1, 501, Decimal('0.99')),
 (2, 145, Decimal('0.99')),
 (2, 405, Decimal('0.99')),
 (2, 178, Decimal('0.99')),
 (2, 161, Decimal('0.99')),
 (1, 474, Decimal('0.99')),
 (2, 468, Decimal('0.99')),
 (2, 124, Decimal('0.99')),
 (2, 199, Decimal('0.99')),
 (1, 576, Decimal('0.00')),
 (1, 297, Decimal('0.99')),
 (2, 55, Decimal('1.99')),
 (2, 36, Decimal('0.99')),
 (1, 267, Decimal('0.99')),
 (2, 54, Decimal('0.99')),
 (1, 572, Decimal('0.99')),
 (2, 45, Decimal('0.99')),
 (2, 421, Decimal('0.99')),
 (1, 322, Decimal('0.99')),
 (2, 209, Decimal('2.99')),
 (1, 4, Decimal('0.99')),
 (2, 528, Decimal('0.99')),
 (2, 194, Decimal('2.99')),
 (1, 318, Decimal('0.99')),
 (1, 366, Decimal('0.99')),
 (2, 73, Decimal('0.99')),
 (1, 556, Decimal('0.99')),
 (2, 196, Decimal('0.99')),
 (1, 10, Decimal('0.99')),
 (1, 460, Decimal('0.99')),
 (2, 533, Decimal('0.99')),
 (2, 122, Decimal('0.99')),
 (1, 428, Decimal('0.99')),
 (1, 568, Decimal('0.99')),
 (1, 451, Decimal('0.99')),
 (1, 248, Decimal('0.99')),
 (1, 349, Decimal('0.99')),
 (2, 8, Decimal('0.99')),
 (1, 2, Decimal('0.99')),
 (2, 581, Decimal('0.99')),
 (2, 456, Decimal('0.99')),
 (2, 283, Decimal('0.99')),
 (1, 327, Decimal('0.99')),
 (1, 161, Decimal('0.99')),
 (1, 16, Decimal('0.99')),
 (1, 139, Decimal('0.99')),
 (1, 422, Decimal('0.99')),
 (2, 497, Decimal('0.99')),
 (1, 299, Decimal('0.99')),
 (2, 74, Decimal('0.99')),
 (1, 130, Decimal('0.99')),
 (1, 230, Decimal('0.99')),
 (1, 315, Decimal('2.99')),
 (2, 265, Decimal('0.99')),
 (2, 578, Decimal('2.99')),
 (2, 179, Decimal('0.99')),
 (2, 98, Decimal('0.99')),
 (1, 175, Decimal('0.99')),
 (1, 121, Decimal('0.99')),
 (2, 564, Decimal('0.99')),
 (1, 165, Decimal('0.99')),
 (1, 159, Decimal('0.99')),
 (1, 203, Decimal('0.99')),
 (2, 303, Decimal('0.99')),
 (1, 319, Decimal('0.99')),
 (1, 60, Decimal('0.99')),
 (1, 22, Decimal('2.99')),
 (1, 191, Decimal('0.99')),
 (1, 50, Decimal('0.99')),
 (2, 105, Decimal('0.99')),
 (1, 570, Decimal('0.99')),
 (2, 157, Decimal('0.99')),
 (2, 398, Decimal('2.99')),
 (2, 89, Decimal('0.99')),
 (1, 111, Decimal('0.99')),
 (2, 51, Decimal('0.99')),
 (1, 122, Decimal('0.99')),
 (2, 475, Decimal('0.99')),
 (2, 204, Decimal('0.99')),
 (1, 167, Decimal('0.99')),
 (1, 263, Decimal('0.99')),
 (2, 166, Decimal('0.99')),
 (2, 395, Decimal('0.99')),
 (1, 566, Decimal('0.99')),
 (2, 383, Decimal('0.99')),
 (2, 153, Decimal('0.99')),
 (1, 274, Decimal('0.99')),
 (2, 427, Decimal('0.99')),
 (2, 386, Decimal('0.99')),
 (2, 201, Decimal('0.99')),
 (1, 403, Decimal('0.99')),
 (1, 245, Decimal('0.99')),
 (1, 8, Decimal('0.99')),
 (1, 469, Decimal('0.99')),
 (1, 46, Decimal('0.99')),
 (1, 479, Decimal('0.99')),
 (1, 292, Decimal('0.99')),
 (1, 569, Decimal('1.99')),
 (1, 261, Decimal('0.99')),
 (2, 221, Decimal('0.99')),
 (1, 258, Decimal('0.99')),
 (2, 117, Decimal('2.99')),
 (1, 114, Decimal('0.99')),
 (1, 57, Decimal('0.99')),
 (2, 539, Decimal('0.99')),
 (1, 235, Decimal('0.99')),
 (2, 317, Decimal('0.99')),
 (2, 69, Decimal('0.99')),
 (2, 347, Decimal('0.99')),
 (1, 9, Decimal('0.99')),
 (2, 561, Decimal('0.99')),
 (2, 384, Decimal('0.99')),
 (2, 152, Decimal('0.99')),
 (2, 493, Decimal('2.99')),
 (1, 463, Decimal('0.99')),
 (1, 126, Decimal('0.99')),
 (1, 456, Decimal('0.99')),
 (2, 261, Decimal('0.99')),
 (1, 531, Decimal('2.99')),
 (1, 190, Decimal('0.99')),
 (1, 385, Decimal('0.99')),
 (2, 2, Decimal('0.99')),
 (1, 76, Decimal('0.99')),
 (2, 488, Decimal('0.99')),
 (2, 444, Decimal('0.99')),
 (1, 302, Decimal('0.99')),
 (2, 296, Decimal('0.99')),
 (1, 335, Decimal('0.99')),
 (2, 508, Decimal('0.99')),
 (2, 429, Decimal('1.99')),
 (1, 152, Decimal('0.99')),
 (2, 160, Decimal('0.99')),
 (1, 281, Decimal('0.99')),
 (1, 92, Decimal('0.99')),
 (2, 110, Decimal('0.99')),
 (2, 453, Decimal('0.99')),
 (1, 34, Decimal('0.99')),
 (1, 94, Decimal('0.99')),
 (2, 151, Decimal('0.99')),
 (1, 295, Decimal('0.99')),
 (2, 93, Decimal('1.99')),
 (2, 22, Decimal('0.99')),
 (2, 208, Decimal('0.99')),
 (2, 29, Decimal('0.99')),
 (2, 365, Decimal('0.99')),
 (2, 53, Decimal('0.99')),
 (1, 32, Decimal('0.99')),
 (2, 480, Decimal('0.99')),
 (2, 565, Decimal('0.99')),
 (2, 529, Decimal('0.99')),
 (1, 15, Decimal('0.99')),
 (2, 92, Decimal('2.99')),
 (1, 27, Decimal('0.99')),
 (2, 362, Decimal('1.99')),
 (2, 130, Decimal('0.99')),
 (2, 100, Decimal('0.99')),
 (1, 215, Decimal('0.99')),
 (1, 554, Decimal('0.99')),
 (2, 284, Decimal('0.00')),
 (2, 57, Decimal('0.99')),
 (1, 421, Decimal('0.99')),
 (2, 184, Decimal('0.99')),
 (1, 537, Decimal('0.99')),
 (2, 478, Decimal('0.99')),
 (2, 14, Decimal('3.99')),
 (1, 305, Decimal('2.99')),
 (1, 493, Decimal('0.99')),
 (1, 170, Decimal('0.99')),
 (1, 240, Decimal('0.99')),
 (2, 121, Decimal('0.99')),
 (1, 280, Decimal('0.99')),
 (2, 50, Decimal('0.99')),
 (2, 571, Decimal('1.99')),
 (1, 178, Decimal('2.99')),
 (2, 577, Decimal('0.99')),
 (2, 377, Decimal('0.99')),
 (2, 445, Decimal('0.99')),
 (2, 357, Decimal('0.99')),
 (1, 375, Decimal('0.99')),
 (1, 163, Decimal('0.00')),
 (1, 284, Decimal('0.99')),
 (2, 198, Decimal('0.99')),
 (1, 529, Decimal('0.99')),
 (2, 42, Decimal('0.99')),
 (2, 285, Decimal('0.99')),
 (1, 218, Decimal('0.99')),
 (2, 128, Decimal('0.99')),
 (1, 401, Decimal('0.99')),
 (1, 470, Decimal('0.99')),
 (1, 498, Decimal('0.99')),
 (2, 413, Decimal('0.99')),
 (1, 12, Decimal('0.99')),
 (2, 439, Decimal('0.99')),
 (2, 297, Decimal('0.99')),
 (2, 465, Decimal('0.99')),
 (1, 436, Decimal('0.99')),
 (2, 38, Decimal('0.99')),
 (2, 599, Decimal('2.99')),
 (1, 464, Decimal('2.99')),
 (1, 225, Decimal('2.99')),
 (2, 222, Decimal('0.99')),
 (2, 60, Decimal('0.00')),
 (1, 275, Decimal('0.99')),
 (2, 10, Decimal('2.99')),
 (1, 516, Decimal('0.00')),
 (1, 404, Decimal('0.99')),
 (2, 385, Decimal('0.99')),
 (1, 277, Decimal('0.99')),
 (2, 277, Decimal('0.99')),
 (2, 132, Decimal('0.99')),
 (2, 85, Decimal('0.99')),
 (2, 259, Decimal('1.99')),
 (2, 141, Decimal('0.99')),
 (1, 591, Decimal('0.99')),
 (1, 95, Decimal('0.99')),
 (2, 94, Decimal('0.99')),
 (1, 56, Decimal('0.99')),
 (1, 506, Decimal('0.99')),
 (1, 496, Decimal('0.99')),
 (2, 569, Decimal('0.99')),
 (1, 579, Decimal('0.99')),
 (1, 43, Decimal('0.00')),
 (1, 129, Decimal('0.99')),
 (2, 234, Decimal('0.99')),
 (2, 345, Decimal('0.99')),
 (1, 217, Decimal('0.99')),
 (1, 108, Decimal('0.99')),
 (1, 107, Decimal('0.00')),
 (1, 171, Decimal('0.99')),
 (2, 505, Decimal('3.99')),
 (1, 511, Decimal('0.99')),
 (1, 101, Decimal('0.99')),
 (2, 33, Decimal('0.99')),
 (1, 394, Decimal('0.99')),
 (2, 107, Decimal('0.99')),
 (2, 415, Decimal('0.99')),
 (1, 564, Decimal('0.99')),
 (2, 133, Decimal('0.99')),
 (2, 97, Decimal('0.99')),
 (1, 503, Decimal('0.99')),
 (1, 283, Decimal('0.99')),
 (2, 86, Decimal('0.99')),
 (1, 149, Decimal('0.99')),
 (1, 39, Decimal('0.99')),
 (1, 430, Decimal('0.99')),
 (2, 588, Decimal('2.99')),
 (2, 485, Decimal('0.99')),
 (2, 344, Decimal('0.99')),
 (1, 540, Decimal('0.99')),
 (2, 7, Decimal('0.99')),
 (1, 443, Decimal('0.99')),
 (1, 446, Decimal('0.99')),
 (1, 58, Decimal('0.99')),
 (1, 495, Decimal('0.99')),
 (1, 555, Decimal('0.99')),
 (2, 41, Decimal('0.99')),
 (2, 78, Decimal('0.99')),
 (1, 598, Decimal('0.99')),
 (2, 254, Decimal('0.99')),
 (2, 263, Decimal('0.99')),
 (1, 188, Decimal('0.99')),
 (1, 140, Decimal('0.99')),
 (1, 254, Decimal('0.99')),
 (2, 17, Decimal('1.99')),
 (1, 459, Decimal('0.99')),
 (2, 318, Decimal('0.99')),
 (2, 448, Decimal('0.99')),
 (2, 249, Decimal('0.99')),
 (1, 97, Decimal('0.99')),
 (1, 562, Decimal('1.99')),
 (2, 461, Decimal('0.99')),
 (2, 304, Decimal('0.99')),
 (1, 471, Decimal('0.99')),
 (2, 375, Decimal('0.99')),
 (1, 3, Decimal('1.99')),
 (1, 47, Decimal('0.99')),
 (1, 376, Decimal('0.99')),
 (1, 371, Decimal('0.99')),
 (2, 535, Decimal('0.99')),
 (2, 481, Decimal('0.99')),
 (2, 547, Decimal('0.99')),
 (2, 432, Decimal('0.99')),
 (1, 549, Decimal('0.99')),
 (1, 473, Decimal('0.99')),
 (1, 82, Decimal('0.99')),
 (1, 321, Decimal('0.99')),
 (2, 269, Decimal('0.00')),
 (1, 346, Decimal('0.99')),
 (1, 102, Decimal('0.99')),
 (2, 596, Decimal('0.99')),
 (2, 228, Decimal('0.99')),
 (2, 115, Decimal('0.99')),
 (2, 580, Decimal('0.99')),
 (2, 252, Decimal('0.99')),
 (2, 321, Decimal('2.99')),
 (2, 404, Decimal('0.99')),
 (2, 106, Decimal('0.99')),
 (1, 269, Decimal('2.99')),
 (2, 290, Decimal('0.99')),
 (1, 168, Decimal('0.99')),
 (2, 275, Decimal('0.99')),
 (2, 195, Decimal('0.99')),
 (2, 353, Decimal('0.99')),
 (1, 542, Decimal('0.99')),
 (1, 75, Decimal('0.00')),
 (2, 251, Decimal('0.99')),
 (2, 103, Decimal('0.99')),
 (1, 386, Decimal('0.99')),
 (2, 286, Decimal('0.99')),
 (2, 207, Decimal('0.99')),
 (2, 226, Decimal('0.99')),
 (1, 62, Decimal('0.99')),
 (1, 109, Decimal('0.99')),
 (2, 419, Decimal('0.99')),
 (1, 507, Decimal('0.99')),
 (1, 380, Decimal('0.99')),
 (1, 560, Decimal('0.99')),
 (1, 354, Decimal('0.00')),
 (1, 158, Decimal('0.99')),
 (2, 95, Decimal('0.99')),
 (1, 486, Decimal('0.99')),
 (1, 45, Decimal('0.99')),
 (1, 326, Decimal('0.99')),
 (1, 160, Decimal('0.99')),
 (2, 595, Decimal('0.99')),
 (2, 407, Decimal('0.99')),
 (1, 423, Decimal('0.99')),
 (1, 505, Decimal('0.99')),
 (2, 323, Decimal('0.99')),
 (1, 87, Decimal('0.99')),
 (1, 355, Decimal('0.99')),
 (1, 223, Decimal('0.99')),
 (1, 345, Decimal('2.99')),
 (2, 58, Decimal('0.99')),
 (2, 423, Decimal('0.99')),
 (2, 544, Decimal('2.99')),
 (2, 135, Decimal('0.99')),
 (1, 367, Decimal('0.99')),
 (1, 249, Decimal('0.99')),
 (1, 526, Decimal('0.99')),
 (1, 330, Decimal('0.99')),
 (1, 586, Decimal('0.99')),
 (2, 205, Decimal('0.99')),
 (2, 567, Decimal('0.99')),
 (2, 452, Decimal('0.99')),
 (2, 63, Decimal('0.99')),
 (2, 56, Decimal('0.99')),
 (2, 446, Decimal('0.99')),
 (2, 443, Decimal('0.99')),
 (2, 260, Decimal('0.99')),
 (2, 476, Decimal('2.99')),
 (1, 193, Decimal('0.99')),
 (2, 185, Decimal('0.99')),
 (2, 504, Decimal('0.99')),
 (2, 307, Decimal('4.99')),
 (2, 240, Decimal('0.99')),
 (2, 531, Decimal('0.99')),
 (2, 522, Decimal('0.99')),
 (1, 155, Decimal('0.00')),
 (1, 544, Decimal('0.99')),
 (2, 243, Decimal('0.99')),
 (2, 237, Decimal('0.99')),
 (1, 387, Decimal('0.99')),
 (1, 500, Decimal('0.99')),
 (1, 250, Decimal('0.99')),
 (1, 535, Decimal('0.99')),
 (1, 210, Decimal('0.99')),
 (1, 91, Decimal('0.99')),
 (1, 59, Decimal('2.99')),
 (1, 477, Decimal('0.99')),
 (1, 395, Decimal('0.99')),
 (2, 77, Decimal('0.99')),
 (2, 482, Decimal('0.99')),
 (2, 288, Decimal('0.99')),
 (1, 329, Decimal('0.99')),
 (1, 106, Decimal('0.99')),
 (2, 114, Decimal('0.99')),
 (2, 530, Decimal('0.99')),
 (2, 253, Decimal('0.99')),
 (2, 146, Decimal('0.99')),
 (2, 44, Decimal('0.99')),
 (1, 597, Decimal('0.99')),
 (1, 420, Decimal('0.99')),
 (1, 547, Decimal('0.99')),
 (2, 248, Decimal('0.99')),
 (2, 551, Decimal('0.99')),
 (1, 485, Decimal('0.99')),
 (2, 232, Decimal('0.99')),
 (1, 379, Decimal('0.99')),
 (2, 410, Decimal('0.99')),
 (1, 144, Decimal('0.99')),
 (2, 250, Decimal('0.99')),
 (1, 300, Decimal('0.99')),
 (2, 1, Decimal('0.99')),
 (1, 407, Decimal('0.99')),
 (2, 192, Decimal('0.99')),
 (2, 492, Decimal('0.99')),
 (1, 224, Decimal('0.99')),
 (1, 80, Decimal('0.99')),
 (1, 522, Decimal('0.99')),
 (2, 295, Decimal('0.99')),
 (2, 191, Decimal('0.99')),
 (2, 506, Decimal('0.99')),
 (2, 466, Decimal('0.99')),
 (2, 534, Decimal('0.99')),
 (2, 276, Decimal('0.99')),
 (2, 430, Decimal('0.99')),
 (1, 83, Decimal('0.99')),
 (1, 197, Decimal('0.99')),
 (2, 256, Decimal('0.99')),
 (1, 291, Decimal('0.99')),
 (2, 469, Decimal('0.99')),
 (1, 234, Decimal('0.99')),
 (1, 273, Decimal('0.99')),
 (1, 64, Decimal('0.99')),
 (1, 557, Decimal('0.99')),
 (1, 519, Decimal('0.99')),
 (2, 366, Decimal('0.99')),
 (2, 150, Decimal('0.99')),
 (1, 117, Decimal('0.99')),
 (2, 46, Decimal('0.99')),
 (2, 319, Decimal('0.99')),
 (1, 378, Decimal('0.99')),
 (1, 441, Decimal('0.99')),
 (2, 486, Decimal('0.99')),
 (2, 35, Decimal('0.99')),
 (2, 507, Decimal('0.99')),
 (1, 23, Decimal('0.99')),
 (2, 109, Decimal('0.99')),
 (2, 315, Decimal('0.99')),
 (2, 538, Decimal('0.99')),
 (1, 324, Decimal('0.99')),
 (2, 568, Decimal('0.99')),
 (1, 499, Decimal('0.99')),
 (1, 29, Decimal('0.99')),
 (1, 145, Decimal('0.99')),
 (2, 278, Decimal('0.99')),
 (1, 585, Decimal('0.99')),
 (2, 463, Decimal('0.99')),
 (2, 336, Decimal('0.99')),
 (2, 68, Decimal('0.99')),
 (2, 332, Decimal('0.99')),
 (2, 349, Decimal('2.99')),
 (2, 361, Decimal('0.99')),
 (2, 31, Decimal('0.99')),
 (2, 213, Decimal('0.99')),
 (2, 552, Decimal('0.99')),
 (1, 206, Decimal('2.99')),
 (1, 270, Decimal('0.99')),
 (2, 496, Decimal('2.99')),
 (2, 212, Decimal('0.99')),
 (1, 134, Decimal('0.99')),
 (2, 464, Decimal('0.99')),
 (2, 111, Decimal('0.99')),
 (1, 286, Decimal('0.99')),
 (1, 100, Decimal('0.99')),
 (1, 185, Decimal('0.99')),
 (1, 90, Decimal('0.99')),
 (1, 482, Decimal('0.99')),
 (2, 491, Decimal('2.99')),
 (2, 334, Decimal('0.99')),
 (1, 123, Decimal('0.99')),
 (1, 558, Decimal('0.99')),
 (1, 119, Decimal('0.99')),
 (2, 162, Decimal('0.99')),
 (1, 565, Decimal('0.99')),
 (1, 344, Decimal('0.99')),
 (2, 255, Decimal('0.99')),
 (1, 489, Decimal('0.99')),
 (2, 389, Decimal('0.99')),
 (2, 143, Decimal('0.99')),
 (1, 204, Decimal('0.99')),
 (2, 545, Decimal('2.99')),
 (1, 276, Decimal('0.99')),
 (1, 74, Decimal('0.99')),
 (1, 143, Decimal('0.99')),
 (1, 40, Decimal('0.99')),
 (2, 266, Decimal('0.99')),
 (1, 472, Decimal('0.99')),
 (2, 341, Decimal('0.99')),
 (1, 561, Decimal('0.99')),
 (1, 52, Decimal('0.99')),
 (2, 306, Decimal('0.99')),
 (2, 66, Decimal('0.99')),
 (2, 9, Decimal('0.99')),
 (2, 170, Decimal('0.99')),
 (1, 312, Decimal('0.99')),
 (2, 305, Decimal('0.99')),
 (1, 251, Decimal('0.99')),
 (1, 96, Decimal('0.99')),
 (1, 6, Decimal('0.99')),
 (1, 521, Decimal('0.99')),
 (2, 82, Decimal('0.99')),
 (2, 585, Decimal('0.99')),

In [43]:
# средня продолжительность фильмов в разрезе рейтингов в 2006 году (ср. прод-ть для каждого рейтинга)
sel = connection.execute(text("""
SELECT rating, AVG(length) FROM film
WHERE release_year = 2006
GROUP BY rating;
""")).fetchall()
pprint(sel)

[('PG-13', Decimal('120.4439461883408072')),
 ('PG', Decimal('112.0051546391752577')),
 ('G', Decimal('111.0505617977528090')),
 ('R', Decimal('118.6615384615384615')),
 ('NC-17', Decimal('113.2285714285714286'))]

In [ ]:
# Оператор HAVING

In [54]:
# Актеры, чьи фамилии не повторяются
sel = connection.execute(text("""
SELECT last_name, COUNT(*) FROM actor
GROUP BY last_name
HAVING COUNT(*) = 1;
""")).fetchmany(10)
pprint(sel)

[('Grant', 1),
 ('Gibson', 1),
 ('Ryder', 1),
 ('Reynolds', 1),
 ('Stallone', 1),
 ('Malden', 1),
 ('Chaplin', 1),
 ('Jovovich', 1),
 ('Cruise', 1),
 ('Suvari', 1)]

In [53]:
# только актеры, чьи имена повторяются
sel = connection.execute(text("""
SELECT first_name, COUNT(*) FROM actor
GROUP BY first_name
HAVING COUNT(*) > 1
ORDER BY COUNT(*) DESC;
""")).fetchall()
pprint(sel)

[('Julia', 4),
 ('Penelope', 4),
 ('Kenneth', 4),
 ('Fay', 3),
 ('Cameron', 3),
 ('Christian', 3),
 ('Burt', 3),
 ('Cuba', 3),
 ('Dan', 3),
 ('Gene', 3),
 ('Nick', 3),
 ('Ed', 3),
 ('Jayne', 3),
 ('Morgan', 3),
 ('Groucho', 3),
 ('Matthew', 3),
 ('Russell', 3),
 ('Minnie', 2),
 ('Woody', 2),
 ('Christopher', 2),
 ('Tom', 2),
 ('Scarlett', 2),
 ('Sandra', 2),
 ('Adam', 2),
 ('Milla', 2),
 ('Ben', 2),
 ('Cate', 2),
 ('Chris', 2),
 ('Rip', 2),
 ('Vivien', 2),
 ('Meryl', 2),
 ('Kirsten', 2),
 ('Daryl', 2),
 ('Johnny', 2),
 ('Albert', 2),
 ('Gary', 2),
 ('Frances', 2),
 ('Angela', 2),
 ('Warren', 2),
 ('Spencer', 2),
 ('Audrey', 2),
 ('Mena', 2),
 ('Susan', 2),
 ('Michael', 2),
 ('Lucille', 2),
 ('Mary', 2),
 ('Reese', 2),
 ('Humphrey', 2),
 ('Kevin', 2),
 ('Greta', 2),
 ('Renee', 2),
 ('Sean', 2)]

In [65]:
# Фильмы, у которых есть "Super" в названии, и которые сдавались в прокат более чем на 5 дней, суммарно
sel = connection.execute(text("""
SELECT title, SUM(rental_duration) FROM film
WHERE title LIKE '%%Super%%'
GROUP BY title
HAVING SUM(rental_duration) > 5

""")).fetchall()
pprint(sel)

[('Casablanca Super', 6), ('Shootist Superfly', 6)]

In [ ]:
# Alias (Псевдонимы)

In [67]:
# предыдущий запрос, но с псевдонимами
# Фильмы, у которых есть "Super" в названии, и которые сдавались в прокат более чем на 5 дней, суммарно
sel = connection.execute(text("""
SELECT title t, SUM(rental_duration) rt FROM film f
WHERE title LIKE '%%Super%%'
GROUP BY t
HAVING SUM(rental_duration) > 5

""")).fetchall()
pprint(sel)

[('Casablanca Super', 6), ('Shootist Superfly', 6)]

In [ ]:
# Объединение таблиц с помощью JOIN

In [74]:
# выведем имена, фамилии и адреса всех сотрудников
sel = connection.execute(text("""
SELECT first_name, last_name, address FROM staff
LEFT JOIN address ON staff.address_id = address.address_id
""")).fetchall()
pprint(sel)

[('Mike', 'Hillyer', '23 Workhaven Lane'),
 ('Jon', 'Stephens', '1411 Lillydale Drive')]

In [75]:
# тоже самое, но с использованием псевдонимов
# выведем имена, фамилии и адреса всех сотрудников
sel = connection.execute(text("""
SELECT first_name, last_name, address FROM staff s
LEFT JOIN address a ON s.address_id = a.address_id
""")).fetchall()
pprint(sel)

[('Mike', 'Hillyer', '23 Workhaven Lane'),
 ('Jon', 'Stephens', '1411 Lillydale Drive')]

In [80]:
# определим количество продаж каждого продавца
sel = connection.execute(text("""
SELECT title, COUNT(actor_id) FROM film f
JOIN film_actor fa ON f.film_id = fa.film_id
GROUP BY title
""")).fetchmany(10)
pprint(sel)

[('Graceland Dynamite', 6),
 ('Opus Ice', 4),
 ('Braveheart Human', 4),
 ('Wonderful Drop', 4),
 ('Rush Goodfellas', 5),
 ('Purple Movie', 8),
 ('Minority Kiss', 1),
 ('Luke Mummy', 9),
 ('Fantasy Troopers', 9),
 ('Grinch Massage', 6)]

In [ ]:
# посчитаем сколько актеров играли в каждом фильме
sel = connection.execute(text("""
SELECT s.last_name, COUNT(amount) FROM payment p
LEFT JOIN staff s ON p.staff_id = s.staff_id
GROUP BY s.last_name
""")).fetchall()
pprint(sel)

In [ ]:
# Более сложные запросы, с использованием JOIN, WHERE, группировки и сортировки

In [81]:
# Сколько фильмов со словом "Super" есть в наличии
sel = connection.execute(text("""
SELECT title, COUNT(inventory_id) FROM film f
JOIN inventory i ON f.film_id = i.film_id
WHERE title LIKE '%%Super%%'
GROUP BY title
""")).fetchall()
pprint(sel)

[('Casablanca Super', 5),
 ('Shootist Superfly', 7),
 ('Super Wyoming', 4),
 ('Superfly Trip', 3)]

In [83]:
# список покупателей с количеством покупок в алфавитном порядке
sel = connection.execute(text("""
SELECT c.last_name, COUNT(amount) FROM customer c
JOIN payment p ON c.customer_id = p.customer_id
GROUP BY last_name
ORDER BY last_name
""")).fetchall()
pprint(sel)

[('Abney', 19),
 ('Adam', 25),
 ('Adams', 25),
 ('Alexander', 27),
 ('Allard', 31),
 ('Allen', 30),
 ('Alvarez', 25),
 ('Anderson', 23),
 ('Andrew', 18),
 ('Andrews', 22),
 ('Aquino', 17),
 ('Arce', 31),
 ('Archuleta', 29),
 ('Armstrong', 25),
 ('Arnold', 23),
 ('Arsenault', 27),
 ('Artis', 21),
 ('Ashcraft', 22),
 ('Asher', 24),
 ('Austin', 31),
 ('Bailey', 22),
 ('Baker', 21),
 ('Bales', 25),
 ('Banda', 28),
 ('Banks', 24),
 ('Barbee', 21),
 ('Barclay', 28),
 ('Barfield', 31),
 ('Barkley', 22),
 ('Barnes', 19),
 ('Barnett', 25),
 ('Barrett', 23),
 ('Bates', 28),
 ('Baugh', 24),
 ('Baughman', 15),
 ('Bell', 24),
 ('Benner', 22),
 ('Bennett', 23),
 ('Berry', 32),
 ('Bess', 24),
 ('Betancourt', 27),
 ('Billingsley', 16),
 ('Bishop', 21),
 ('Black', 25),
 ('Blakely', 27),
 ('Bolin', 20),
 ('Bone', 23),
 ('Bostic', 21),
 ('Boudreau', 32),
 ('Bourque', 20),
 ('Bowens', 27),
 ('Bowman', 13),
 ('Box', 28),
 ('Boyd', 19),
 ('Bradley', 33),
 ('Breaux', 27),
 ('Brewer', 25),
 ('Brinson', 35),
 ('Brooks', 22),
 ('Brothers', 20),
 ('Brown', 35),
 ('Brownlee', 31),
 ('Bryant', 17),
 ('Buford', 24),
 ('Bull', 35),
 ('Bunn', 18),
 ('Burk', 20),
 ('Burke', 23),
 ('Burleson', 24),
 ('Burns', 23),
 ('Burton', 22),
 ('Bustamante', 29),
 ('Butler', 34),
 ('Butterfield', 17),
 ('Byrd', 22),
 ('Cabral', 13),
 ('Caldwell', 13),
 ('Campbell', 31),
 ('Carbone', 24),
 ('Carlson', 26),
 ('Carpenter', 21),
 ('Carr', 18),
 ('Carranza', 19),
 ('Carroll', 32),
 ('Carter', 26),
 ('Cary', 34),
 ('Casillas', 26),
 ('Castillo', 28),
 ('Castro', 20),
 ('Causey', 29),
 ('Chambers', 22),
 ('Chapa', 17),
 ('Chapman', 29),
 ('Chavez', 16),
 ('Cheatham', 27),
 ('Chestnut', 22),
 ('Chisholm', 22),
 ('Choate', 30),
 ('Christenson', 16),
 ('Churchill', 23),
 ('Cintron', 18),
 ('Clark', 32),
 ('Clary', 18),
 ('Colby', 21),
 ('Cole', 28),
 ('Coleman', 24),
 ('Collazo', 37),
 ('Collins', 30),
 ('Cook', 26),
 ('Cooper', 21),
 ('Cornish', 16),
 ('Cornwell', 30),
 ('Coughlin', 21),
 ('Cox', 30),
 ('Coy', 22),
 ('Craig', 19),
 ('Crawford', 28),
 ('Crawley', 26),
 ('Cromwell', 25),
 ('Crouse', 22),
 ('Cruz', 20),
 ('Culp', 28),
 ('Culpepper', 18),
 ('Cunningham', 22),
 ('Curley', 19),
 ('Currier', 24),
 ('Curtis', 19),
 ('Daniels', 22),
 ('Davidson', 27),
 ('Davis', 25),
 ('Day', 26),
 ('Dean', 39),
 ('Deloach', 28),
 ('Deluca', 22),
 ('Delvalle', 22),
 ('Devore', 28),
 ('Diaz', 23),
 ('Dixon', 27),
 ('Douglas', 34),
 ('Douglass', 23),
 ('Dowd', 19),
 ('Duggan', 23),
 ('Duncan', 23),
 ('Dunn', 27),
 ('East', 30),
 ('Easter', 23),
 ('Ebert', 22),
 ('Edwards', 24),
 ('Eggleston', 28),
 ('Ellington', 25),
 ('Elliott', 23),
 ('Ellis', 30),
 ('Elrod', 28),
 ('Ely', 17),
 ('Emmons', 20),
 ('Estep', 22),
 ('Evans', 14),
 ('Farnsworth', 26),
 ('Fennell', 33),
 ('Ferguson', 23),
 ('Fernandez', 16),
 ('Fields', 22),
 ('Fisher', 27),
 ('Fleming', 24),
 ('Fletcher', 21),
 ('Flores', 29),
 ('Ford', 30),
 ('Forman', 24),
 ('Forsythe', 22),
 ('Fortier', 18),
 ('Fortner', 26),
 ('Foster', 20),
 ('Foust', 23),
 ('Fowler', 15),
 ('Fox', 29),
 ('Fraley', 21),
 ('Francisco', 22),
 ('Franklin', 24),
 ('Frazier', 29),
 ('Freeman', 23),
 ('Fuller', 25),
 ('Fultz', 29),
 ('Gaffney', 22),
 ('Gaither', 27),
 ('Gamez', 25),
 ('Gandy', 16),
 ('Gannon', 21),
 ('Garcia', 19),
 ('Gardiner', 27),
 ('Gardner', 15),
 ('Garrett', 19),
 ('Garza', 22),
 ('Gavin', 27),
 ('Geary', 19),
 ('George', 31),
 ('Gibson', 26),
 ('Gilbert', 31),
 ('Gillette', 25),
 ('Gilliland', 28),
 ('Gilman', 20),
 ('Gomez', 25),
 ('Gonzales', 19),
 ('Gonzalez', 34),
 ('Gooch', 20),
 ('Gooden', 14),
 ('Gordon', 20),
 ('Graf', 23),
 ('Graham', 22),
 ('Grant', 27),
 ('Graves', 23),
 ('Gray', 23),
 ('Greco', 25),
 ('Green', 30),
 ('Greene', 18),
 ('Gregory', 22),
 ('Gresham', 32),
 ('Grey', 26),
 ('Griffin', 24),
 ('Grigsby', 19),
 ('Grissom', 19),
 ('Gruber', 18),
 ('Guajardo', 20),
 ('Guillen', 28),
 ('Gunderson', 29),
 ('Gutierrez', 26),
 ('Hale', 23),
 ('Hall', 32),
 ('Hamilton', 29),
 ('Hannon', 24),
 ('Hansen', 16),
 ('Hanson', 30),
 ('Harder', 25),
 ('Hardison', 24),
 ('Harkins', 22),
 ('Harper', 20),
 ('Harris', 32),
 ('Harrison', 27),
 ('Hart', 26),
 ('Harvey', 24),
 ('Hauser', 19),
 ('Havens', 32),
 ('Hawkins', 17),
 ('Hawks', 25),
 ('Hayes', 23),
 ('Heaton', 31),
 ('Henderson', 21),
 ('Henning', 21),
 ('Henry', 25),
 ('Hernandez', 35),
 ('Herrera', 26),
 ('Herrmann', 25),
 ('Herzog', 20),
 ('Hiatt', 23),
 ('Hicks', 27),
 ('Hidalgo', 28),
 ('Hill', 20),
 ('Hite', 29),
 ('Hoffman', 20),
 ('Holland', 25),
 ('Holm', 24),
 ('Holmes', 27),
 ('Holt', 17),
 ('Hopkins', 27),
 ('Horton', 21),
 ('Houle', 20),
 ('Howard', 20),
 ('Howell', 25),
 ('Howland', 23),
 ('Hudson', 17),
 ('Huey', 36),
 ('Hughes', 20),
 ('Hunt', 45),
 ('Hunter', 22),
 ('Hurtado', 25),
 ('Irby', 38),
 ('Isbell', 16),
 ('Isom', 18),
 ('Jackson', 27),
 ('Jacobs', 23),
 ('James', 28),
 ('Jenkins', 22),
 ('Jennings', 27),
 ('Jensen', 30),
 ('Jimenez', 24),
 ('Johnson', 26),
 ('Johnston', 26),
 ('Jones', 22),
 ('Jordan', 12),
 ('Jordon', 24),
 ('Joy', 20),
 ('Jung', 22),
 ('Kahn', 25),
 ('Kelley', 32),
 ('Kelly', 26),
 ('Kennedy', 38),
 ('Kenyon', 14),
 ('Kim', 23),
 ('Kinder', 25),
 ('King', 34),
 ('Knight', 24),
 ('Knott', 24),
 ('Kowalski', 28),
 ('Kraus', 15),
 ('Kruger', 19),
 ('Lambert', 22),
 ('Lance', 20),
 ('Lane', 24),
 ('Larson', 32),
 ('Larue', 27),
 ('Lawrence', 22),
 ('Lawson', 26),
 ('Lawton', 29),
 ('Lee', 23),
 ('Leone', 34),
 ('Lewis', 27),
 ('Linton', 29),
 ('Little', 21),
 ('Lombardi', 17),
 ('Long', 32),
 ('Lopez', 26),
 ('Lovelace', 30),
 ('Lowe', 28),
 ('Lucas', 24),
 ('Lumpkin', 21),
 ('Lyman', 19),
 ('Lynch', 23),
 ('Mackenzie', 32),
 ('Madrigal', 32),
 ('Mahan', 25),
 ('Mahon', 16),
 ('Malcolm', 26),
 ('Mark', 22),
 ('Markham', 22),
 ('Marlow', 20),
 ('Marshall', 31),
 ('Martel', 23),
 ('Martin', 25),
 ('Martinez', 18),
 ('Martino', 32),
 ('Mason', 28),
 ('Matthews', 20),
 ('Mattox', 25),
 ('Mauldin', 22),
 ('May', 25),
 ('Mcadams', 20),
 ('Mcalister', 24),
 ('Mccarter', 32),
 ('Mccartney', 23),
 ('Mccoy', 18),
 ('Mccrary', 20),
 ('Mccurdy', 24),
 ('Mcdonald', 17),
 ('Mcduffie', 22),
 ('Mckinney', 23),
 ('Mcwhorter', 25),
 ('Meador', 19),
 ('Medina', 19),
 ('Meehan', 24),
 ('Meek', 15),
 ('Mena', 32),
 ('Menard', 22),
 ('Mendoza', 18),
 ('Meyer', 22),
 ('Milam', 30),
 ('Miles', 22),
 ('Millard', 22),
 ('Miller', 28),
 ('Mills', 19),
 ('Milner', 29),
 ('Mitchell', 25),
 ('Moeller', 22),
 ('Montgomery', 33),
 ('Moore', 20),
 ('Morales', 14),
 ('Moreno', 19),
 ('Morgan', 26),
 ('Morrell', 28),
 ('Morris', 24),
 ('Morrison', 27),
 ('Morrissey', 19),
 ('Motley', 26),
 ('Murphy', 24),
 ('Murray', 30),
 ('Murrell', 27),
 ('Myers', 23),
 ('Neal', 16),
 ('Nelson', 29),
 ('Nettles', 27),
 ('Neumann', 20),
 ('Newsom', 23),
 ('Ngo', 33),
 ('Nguyen', 25),
 ('Nichols', 24),
 ('Noe', 24),
 ('Noland', 19),
 ('Nolen', 20),
 ('Obrien', 10),
 ('Ocampo', 27),
 ('Oglesby', 24),
 ('Olivares', 31),
 ('Oliver', 30),
 ('Olson', 24),
 ('Olvera', 20),
 ('Ortiz', 30),
 ('Outlaw', 29),
 ('Owens', 25),
 ('Paine', 21),
 ('Palmer', 25),
 ('Parker', 19),
 ('Patterson', 28),
 ('Payne', 27),
 ('Pearson', 18),
 ('Pemberton', 20),
 ('Pena', 21),
 ('Perez', 29),
 ('Perkins', 24),
 ('Perry', 30),
 ('Perryman', 24),
 ('Peters', 32),
 ('Peterson', 22),
 ('Pfeiffer', 22),
 ('Phillips', 26),
 ('Pierce', 29),
 ('Pinson', 28),
 ('Pitt', 23),
 ('Poindexter', 26),
 ('Porter', 34),
 ('Poulin', 29),
 ('Powell', 21),
 ('Power', 24),
 ('Prewitt', 27),
 ('Price', 21),
 ('Pullen', 22),
 ('Purdy', 22),
 ('Qualls', 26),
 ('Quigley', 27),
 ('Quintanilla', 34),
 ('Ralston', 23),
 ('Ramirez', 17),
 ('Ramos', 18),
 ('Rapp', 26),
 ('Ratcliff', 26),
 ('Ray', 27),
 ('Rea', 30),
 ('Reed', 19),
 ('Reid', 23),
 ('Renner', 31),
 ('Reyes', 31),
 ('Reynolds', 28),
 ('Rhoads', 23),
 ('Rhodes', 26),
 ('Rice', 27),
 ('Richards', 20),
 ('Richardson', 25),
 ('Ricketts', 24),
 ('Rico', 23),
 ('Riley', 27),
 ('Rinehart', 20),
 ('Rivera', 13),
 ('Robb', 25),
 ('Robert', 22),
 ('Roberts', 22),
 ('Robertson', 32),
 ('Robins', 26),
 ('Robinson', 27),
 ('Rodriguez', 19),
 ('Rodriquez', 24),
 ('Rogers', 26),
 ('Romero', 28),
 ('Rose', 29),
 ('Ross', 30),
 ('Roush', 29),
 ('Royal', 19),
 ('Ruiz', 20),
 ('Runyon', 31),
 ('Russell', 18),
 ('Ryan', 19),
 ('Salisbury', 30),
 ('Sanborn', 24),
 ('Sanchez', 28),
 ('Sanders', 39),
 ('Satterfield', 19),
 ('Sauer', 26),
 ('Scarborough', 17),
 ('Schilling', 22),
 ('Schmidt', 31),
 ('Schofield', 30),
 ('Schrader', 28),
 ('Schuler', 17),
 ('Schwab', 15),
 ('Schwarz', 21),
 ('Scott', 24),
 ('Scroggins', 29),
 ('Seal', 42),
 ('Selby', 20),
 ('Seward', 28),
 ('Shanks', 26),
 ('Shaw', 40),
 ('Shelby', 23),
 ('Shelley', 18),
 ('Shelton', 24),
 ('Sherrod', 31),
 ('Sikes', 25),
 ('Silva', 30),
 ('Silverman', 26),
 ('Simmons', 26),
 ('Simpkins', 30),
 ('Simpson', 25),
 ('Sims', 19),
 ('Skidmore', 21),
 ('Sledge', 27),
 ('Slone', 22),
 ('Smith', 30),
 ('Snyder', 39),
 ('Soto', 21),
 ('South', 23),
 ('Spear', 17),
 ('Spencer', 29),
 ('Spurlock', 29),
 ('Stanfield', 24),
 ('Stanley', 25),
 ('Stclair', 17),
 ('Stephens', 20),
 ('Stepp', 21),
 ('Stevens', 22),
 ('Stewart', 30),
 ('Still', 25),
 ('Stone', 30),
 ('Sullivan', 22),
 ('Sutton', 23),
 ('Swafford', 24),
 ('Talbert', 23),
 ('Tan', 28),
 ('Taylor', 24),
 ('Teel', 27),
 ('Terry', 28),
 ('Thomas', 26),
 ('Thompson', 18),
 ('Thorn', 23),
 ('Thrasher', 19),
 ('Tirado', 16),
 ('Tobias', 28),
 ('Tomlin', 26),
 ('Torres', 20),
 ('Trout', 15),
 ('Troutman', 21),
 ('Truong', 19),
 ('Tubbs', 30),
 ('Tucker', 30),
 ('Turner', 21),
 ('Turpin', 19),
 ('Vanhorn', 24),
 ('Vargas', 30),
 ('Varney', 22),
 ('Vasquez', 27),
 ('Vest', 27),
 ('Vines', 26),
 ('Vu', 27),
 ('Wade', 33),
 ('Waggoner', 23),
 ('Wagner', 25),
 ('Waldrop', 20),
 ('Walker', 27),
 ('Wallace', 21),
 ('Walters', 21),
 ('Ward', 33),
 ('Warren', 32),
 ('Washington', 28),
 ('Watkins', 19),
 ('Watson', 27),
 ('Watts', 23),
 ('Waugh', 23),
 ('Way', 33),
 ('Weaver', 25),
 ('Webb', 31),
 ('Weiner', 21),
 ('Welch', 23),
 ('Wells', 14),
 ('West', 19),
 ('Westmoreland', 31),
 ('Wheat', 21),
 ('Wheeler', 25),
 ('White', 23),
 ('Whiting', 28),
 ('Wiles', 22),
 ('Williams', 24),
 ('Williamson', 27),
 ('Willis', 30),
 ('Wilson', 23),
 ('Windham', 22),
 ('Wofford', 25),
 ('Wood', 31),
 ('Woods', 28),
 ('Wren', 19),
 ('Wright', 26),
 ('Wyman', 7),
 ('Yanez', 19),
 ('Yee', 19),
 ('Young', 30)]

In [97]:
# список покупателей с количеством покупок в алфавитном порядке
sel = connection.execute(text("""
SELECT c.first_name, c.last_name, c.email, co.country, ci.city FROM customer c
JOIN address a ON c.address_id = a.address_id
JOIN city ci ON a.city_id = ci.city_id
JOIN country co ON ci.country_id = co.country_id
WHERE country = 'Kazakstan'
""")).fetchall()
pprint(sel)

[('Irene', 'Price', 'irene.price@sakilacustomer.org', 'Kazakstan', 'Pavlodar'),
 ('Byron', 'Box', 'byron.box@sakilacustomer.org', 'Kazakstan', 'Zhezqazghan')]

In [101]:
# фильмы, которые берут чаще всех
sel = connection.execute(text("""
SELECT f.title, COUNT(i.inventory_id) FROM film f
JOIN inventory i ON f.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
GROUP BY f.title
ORDER BY count DESC;
""")).fetchall()
pprint(sel)

[('Bucket Brotherhood', 34),
 ('Rocketeer Mother', 33),
 ('Ridgemont Submarine', 32),
 ('Scalawag Duck', 32),
 ('Juggler Hardly', 32),
 ('Grit Clockwork', 32),
 ('Forward Temple', 32),
 ('Goodfellas Salute', 31),
 ('Wife Turn', 31),
 ('Robbers Joon', 31),
 ('Apache Divine', 31),
 ('Timberland Sky', 31),
 ('Hobbit Alien', 31),
 ('Network Peak', 31),
 ('Zorro Ark', 31),
 ('Rush Goodfellas', 31),
 ('Cat Coneheads', 30),
 ('Butterfly Chocolat', 30),
 ('English Bulworth', 30),
 ('Witches Panic', 30),
 ('Harry Idaho', 30),
 ('Suspects Quills', 30),
 ('Dogma Family', 30),
 ('Rugrats Shakespeare', 30),
 ('Pulp Beverly', 30),
 ('Idols Snatchers', 30),
 ('Massacre Usual', 30),
 ('Graffiti Love', 30),
 ('Shock Cabin', 30),
 ('Muscle Bright', 30),
 ('Frost Head', 30),
 ('Married Go', 30),
 ('Bingo Talented', 29),
 ('Storm Happiness', 29),
 ('Family Sweet', 29),
 ('Virginian Pluto', 29),
 ('Moon Bunch', 29),
 ('Boogie Amelie', 29),
 ('Greatest North', 29),
 ('Videotape Arsenic', 29),
 ('Talented Homicide', 29),
 ('Confidential Interview', 29),
 ('Sweethearts Suspects', 29),
 ('Gleaming Jawbreaker', 29),
 ('Titans Jerk', 29),
 ('Deer Virginian', 29),
 ('Enemy Odds', 29),
 ('Story Side', 28),
 ('Trip Newton', 28),
 ('Fatal Haunted', 28),
 ('Expendable Stallion', 28),
 ('Handicap Boondock', 28),
 ('Gilmore Boiled', 28),
 ('Saturday Lambs', 28),
 ('Giant Troopers', 28),
 ('Roses Treasure', 28),
 ('Closer Bang', 28),
 ('Voyage Legally', 28),
 ('Lose Inch', 27),
 ('Horror Reign', 27),
 ('Operation Operation', 27),
 ('Torque Bound', 27),
 ('Detective Vision', 27),
 ('Telegraph Voyage', 27),
 ('None Spiking', 27),
 ('Blackout Private', 27),
 ('Spy Mile', 27),
 ('Movie Shakespeare', 27),
 ('Invasion Cyclone', 27),
 ('Princess Giant', 27),
 ('Curtain Videotape', 27),
 ('Lies Treatment', 27),
 ('Wardrobe Phantom', 27),
 ('Gangs Pride', 27),
 ('Goldmine Tycoon', 27),
 ('Dancing Fever', 27),
 ('Chance Resurrection', 27),
 ('Loathing Legally', 27),
 ('Swarm Gold', 27),
 ('Forrester Comancheros', 27),
 ('Dorado Notting', 27),
 ('Camelot Vacation', 27),
 ('Primary Glass', 27),
 ('Range Moonwalker', 27),
 ('Hyde Doctor', 26),
 ('Westward Seabiscuit', 26),
 ('Contact Anonymous', 26),
 ('Malkovich Pet', 26),
 ('Durham Panky', 26),
 ('Pity Bound', 26),
 ('Brotherhood Blanket', 26),
 ('Pocus Pulp', 26),
 ('Tracy Cider', 26),
 ('Pelican Comforts', 26),
 ('Hanky October', 26),
 ('Disturbing Scarface', 26),
 ('Stagecoach Armageddon', 26),
 ('Fantasy Troopers', 26),
 ('Velvet Terminator', 26),
 ('Tights Dawn', 26),
 ('Half Outfield', 26),
 ('Innocent Usual', 26),
 ('Alaska Phantom', 26),
 ('Fellowship Autumn', 26),
 ('Metropolis Coma', 26),
 ('Coma Head', 26),
 ('Island Exorcist', 26),
 ('Seabiscuit Punk', 26),
 ('Shepherd Midsummer', 25),
 ('Working Microcosmos', 25),
 ('Samurai Lion', 25),
 ('Fish Opus', 25),
 ('Clueless Bucket', 25),
 ('Telemark Heartbreakers', 25),
 ('Tomorrow Hustler', 25),
 ('Coneheads Smoochy', 25),
 ('Oscar Gold', 25),
 ('Show Lord', 25),
 ('Metal Armageddon', 25),
 ('Gun Bonnie', 25),
 ('Mallrats United', 25),
 ('Downhill Enough', 25),
 ('Feud Frogmen', 25),
 ('Madness Attacks', 25),
 ('Dynamite Tarzan', 25),
 ('Escape Metropolis', 25),
 ('Sun Confessions', 25),
 ('Hills Neighbors', 25),
 ('Nightmare Chill', 25),
 ('Streetcar Intentions', 25),
 ('Trading Pinocchio', 25),
 ('Clash Freddy', 25),
 ('Barbarella Streetcar', 25),
 ('Effect Gladiator', 25),
 ('Double Wrath', 25),
 ('Gunfight Moon', 24),
 ('Shootist Superfly', 24),
 ('Center Dinosaur', 24),
 ('Drifter Commandments', 24),
 ('Ice Crossing', 24),
 ('Lola Agent', 24),
 ('Bound Cheaper', 24),
 ('Hurricane Affair', 24),
 ('Color Philadelphia', 24),
 ('Jumping Wrath', 24),
 ('Seattle Expecations', 24),
 ('Slums Duck', 24),
 ('Jason Trap', 24),
 ('Goldfinger Sensibility', 24),
 ('Wedding Apollo', 24),
 ('Attraction Newton', 24),
 ('Sleeping Suspects', 24),
 ('Knock Warlock', 24),
 ('Caper Motions', 24),
 ('Arachnophobia Rollercoaster', 24),
 ('Strangelove Desire', 24),
 ('Alamo Videotape', 24),
 ('Maiden Home', 24),
 ('Atlantis Cause', 24),
 ('Roman Punk', 24),
 ('Mockingbird Hollywood', 24),
 ('Pacific Amistad', 24),
 ('Horn Working', 24),
 ('Fargo Gandhi', 24),
 ('Oz Liaisons', 24),
 ('Celebrity Horn', 24),
 ('Orange Grapes', 24),
 ('Sunrise League', 24),
 ('Women Dorado', 23),
 ('Snowman Rollercoaster', 23),
 ('Heavyweights Beast', 23),
 ('Balloon Homeward', 23),
 ('House Dynamite', 23),
 ('Salute Apollo', 23),
 ('Others Soup', 23),
 ('Scorpion Apollo', 23),
 ('Truman Crazy', 23),
 ('Kwai Homeward', 23),
 ('Fool Mockingbird', 23),
 ('Yentl Idaho', 23),
 ('Murder Antitrust', 23),
 ('Easy Gladiator', 23),
 ('Titanic Boondock', 23),
 ('Affair Prejudice', 23),
 ('Strictly Scarface', 23),
 ('Flamingos Connecticut', 23),
 ('Carrie Bunch', 23),
 ('Karate Moon', 23),
 ('Trouble Date', 23),
 ('Academy Dinosaur', 23),
 ('Gentlemen Stage', 23),
 ('Freddy Storm', 23),
 ('Cupboard Sinners', 23),
 ('Wind Phantom', 23),
 ('Crooked Frogmen', 23),
 ('Patton Interview', 23),
 ('Name Detective', 23),
 ('Candles Grapes', 23),
 ('Outbreak Divine', 23),
 ('Steel Santa', 23),
 ('Philadelphia Wife', 23),
 ('Aladdin Calendar', 23),
 ('Earth Vision', 23),
 ('Wash Heavenly', 23),
 ('Queen Luke', 22),
 ('Alien Center', 22),
 ('Grapes Fury', 22),
 ('Alter Victory', 22),
 ('Falcon Volume', 22),
 ('Haunting Pianist', 22),
 ('Hustler Party', 22),
 ('Liaisons Sweet', 22),
 ('Chill Luck', 22),
 ('High Encino', 22),
 ('South Wait', 22),
 ('Beauty Grease', 22),
 ('Congeniality Quest', 22),
 ('Flatliners Killer', 22),
 ('Tourist Pelican', 22),
 ('Borrowers Bedazzled', 22),
 ('Fight Jawbreaker', 22),
 ('Annie Identity', 22),
 ('Sinners Atlantis', 22),
 ('Wonderland Christmas', 22),
 ('Shakespeare Saddle', 22),
 ('Whisperer Giant', 22),
 ('Snatch Slipper', 22),
 ('Head Stranger', 22),
 ('Midsummer Groundhog', 22),
 ('Maltese Hope', 22),
 ('Sea Virgin', 22),
 ('Banger Pinocchio', 22),
 ('Homicide Peach', 22),
 ('Packer Madigan', 22),
 ('Angels Life', 22),
 ('Bear Graceland', 22),
 ('Blade Polish', 22),
 ('American Circus', 22),
 ('Kiss Glory', 22),
 ('Dream Pickup', 22),
 ('Eagles Panky', 22),
 ('Volcano Texas', 22),
 ('Chicken Hellfighters', 22),
 ('Anaconda Confessions', 21),
 ('Crossroads Casualties', 21),
 ('Empire Malkovich', 21),
 ('Badman Dawn', 21),
 ('Highball Potter', 21),
 ('Doom Dancing', 21),
 ('Beverly Outlaw', 21),
 ('Cause Date', 21),
 ('Suit Walls', 21),
 ('Sabrina Midnight', 21),
 ('Sting Personal', 21),
 ('Fidelity Devil', 21),
 ('Coast Rainbow', 21),
 ('Star Operation', 21),
 ('Chainsaw Uptown', 21),
 ('Fireball Philadelphia', 21),
 ('Moonshine Cabin', 21),
 ('Amadeus Holy', 21),
 ('Secret Groundhog', 21),
 ('Egg Igby', 21),
 ('Pianist Outfield', 21),
 ('Armageddon Lost', 21),
 ('Amistad Midsummer', 21),
 ('Sleuth Orient', 21),
 ('Arizona Bang', 21),
 ('Divide Monster', 21),
 ('Brooklyn Desert', 21),
 ('Sleepy Japanese', 21),
 ('Driving Polish', 21),
 ('Grease Youth', 21),
 ('Basic Easy', 21),
 ('Dracula Crystal', 21),
 ('Wait Cider', 21),
 ('Blues Instinct', 21),
 ('Chariots Conspiracy', 21),
 ('Ghost Groundhog', 21),
 ('Excitement Eve', 21),
 ('Deceiver Betrayed', 21),
 ('Open African', 21),
 ('Resurrection Silverado', 21),
 ('Calendar Gunfight', 21),
 ('Mourning Purple', 21),
 ('Christmas Moonshine', 21),
 ('Pirates Roxanne', 21),
 ('Vacation Boondock', 21),
 ('Splendor Patton', 21),
 ('Agent Truman', 21),
 ('Undefeated Dalmations', 21),
 ('Unbreakable Karate', 21),
 ('Berets Agent', 21),
 ('Lebowski Soldiers', 21),
 ('Wolves Desire', 21),
 ('Quest Mussolini', 20),
 ('Harper Dying', 20),
 ('Stepmom Dream', 20),
 ('Minds Truman', 20),
 ('Northwest Polish', 20),
 ('Dalmations Sweden', 20),
 ('Go Purple', 20),
 ('Spice Sorority', 20),
 ('Interview Liaisons', 20),
 ('Redemption Comforts', 20),
 ('Dinosaur Secretary', 20),
 ('Kissing Dolls', 20),
 ('Jet Neighbors', 20),
 ('Flying Hook', 20),
 ('Pinocchio Simon', 20),
 ('Money Harold', 20),
 ('Reign Gentlemen', 20),
 ('Room Roman', 20),
 ('Straight Hours', 20),
 ('Reunion Witches', 20),
 ('Chasing Fight', 20),
 ('River Outlaw', 20),
 ('Prejudice Oleander', 20),
 ('Sleepless Monsoon', 20),
 ('Love Suicides', 20),
 ('Chocolat Harry', 20),
 ('Peak Forever', 20),
 ('Tramp Others', 20),
 ('Wrong Behavior', 20),
 ('Hunchback Impossible', 20),
 ('Secrets Paradise', 20),
 ('Bringing Hysterical', 20),
 ('Outfield Massacre', 20),
 ('Cheaper Clyde', 20),
 ('Heartbreakers Bright', 20),
 ('Freaky Pocus', 20),
 ('Garden Island', 20),
 ('Hellfighters Sierra', 20),
 ('Kick Savannah', 20),
 ('Million Ace', 20),
 ('Intrigue Worst', 20),
 ('Masked Bubble', 20),
 ('Jerk Paycheck', 20),
 ('Insider Arizona', 20),
 ('Details Packer', 19),
 ('Club Graffiti', 19),
 ('Bill Others', 19),
 ('Hanging Deep', 19),
 ('Something Duck', 19),
 ('Disciple Mother', 19),
 ('Independence Hotel', 19),
 ('Road Roxanne', 19),
 ('Igby Maker', 19),
 ('Backlash Undefeated', 19),
 ('Rage Games', 19),
 ('Gables Metropolis', 19),
 ('Cider Desire', 19),
 ('Bride Intrigue', 19),
 ('Desert Poseidon', 19),
 ('Thief Pelican', 19),
 ('Hours Rage', 19),
 ('Earring Instinct', 19),
 ('Mine Titans', 19),
 ('Pond Seattle', 19),
 ('Music Boondock', 19),
 ('Mars Roman', 19),
 ('Voice Peach', 19),
 ('Encounters Curtain', 19),
 ('Fury Murder', 19),
 ('Shawshank Bubble', 19),
 ('Honey Ties', 19),
 ('Fiction Christmas', 19),
 ('Eyes Driving', 19),
 ('Roxanne Rebel', 19),
 ('Canyon Stock', 19),
 ('Novocaine Flight', 19),
 ('Jedi Beneath', 19),
 ('Gorgeous Bingo', 19),
 ('Doors President', 19),
 ('Fantasia Park', 19),
 ('National Story', 19),
 ('Requiem Tycoon', 19),
 ('Patient Sister', 19),
 ('Campus Remember', 19),
 ('Neighbors Charade', 19),
 ('Clones Pinocchio', 19),
 ('Sundance Invasion', 19),
 ('Encino Elf', 19),
 ('Trojan Tomorrow', 19),
 ('Polish Brooklyn', 18),
 ('Racer Egg', 18),
 ('Carol Texas', 18),
 ('Groove Fiction', 18),
 ('Candidate Perdition', 18),
 ('Instinct Airport', 18),
 ('Secretary Rouge', 18),
 ('Dawn Pond', 18),
 ('Vanishing Rocky', 18),
 ('Jade Bunch', 18),
 ('Jacket Frisco', 18),
 ('Darn Forrester', 18),
 ('Core Suit', 18),
 ('Cleopatra Devil', 18),
 ('Insects Stone', 18),
 ('Whale Bikini', 18),
 ('Expecations Natural', 18),
 ('Galaxy Sweethearts', 18),
 ('Enough Raging', 18),
 ('Wonka Sea', 18),
 ('Birds Perdition', 18),
 ('Alone Trip', 18),
 ('Mission Zoolander', 18),
 ('Sweden Shining', 18),
 ('Scarface Bang', 18),
 ('Weekend Personal', 18),
 ('Groundhog Uncut', 18),
 ('Remember Diary', 18),
 ('Boulevard Mob', 18),
 ('Unforgiven Zoolander', 18),
 ('Driver Annie', 18),
 ('Airport Pollock', 18),
 ('Lion Uncut', 18),
 ('Inch Jet', 18),
 ('Smoking Barbarella', 18),
 ('Dragonfly Strangers', 18),
 ('Barefoot Manchurian', 18),
 ('Pollock Deliverance', 18),
 ('Paradise Sabrina', 18),
 ('Forrest Sons', 18),
 ('Hope Tootsie', 18),
 ('Rouge Squad', 18),
 ('Heaven Freedom', 18),
 ('Idaho Love', 17),
 ('Rock Instinct', 17),
 ('Virgin Daisy', 17),
 ('Midnight Westward', 17),
 ('United Pilot', 17),
 ('Orient Closer', 17),
 ('Lawless Vision', 17),
 ('Potter Connecticut', 17),
 ('Strangers Graffiti', 17),
 ('Conversation Downhill', 17),
 ('Louisiana Harry', 17),
 ('League Hellfighters', 17),
 ('Mask Peach', 17),
 ('Teen Apollo', 17),
 ('Lady Stage', 17),
 ('Poseidon Forever', 17),
 ('Satisfaction Confidential', 17),
 ('Dying Maker', 17),
 ('Breakfast Goldfinger', 17),
 ('Zoolander Fiction', 17),
 ('French Holiday', 17),
 ('Perfect Groove', 17),
 ('Comforts Rush', 17),
 ('Newton Labyrinth', 17),
 ('Majestic Floats', 17),
 ('Sugar Wonka', 17),
 ('Roots Remember', 17),
 ('Greek Everyone', 17),
 ('Confused Candles', 17),
 ('Joon Northwest', 17),
 ('Holocaust Highball', 17),
 ('Musketeers Wait', 17),
 ('Waterfront Deliverance', 17),
 ('Intentions Empire', 17),
 ('Taxi Kick', 17),
 ('Factory Dragon', 17),
 ('Beach Heartbreakers', 17),
 ('Slacker Liaisons', 17),
 ('Egypt Tenenbaums', 17),
 ('Jericho Mulan', 17),
 ('Rear Trading', 17),
 ('Flintstones Happiness', 17),
 ('Jekyll Frogmen', 17),
 ('Hanover Galaxy', 17),
 ('Bikini Borrowers', 17),
 ('Ferris Mother', 17),
 ('Gandhi Kwai', 17),
 ('Noon Papi', 17),
 ('Pickup Driving', 16),
 ('Rocky War', 16),
 ('Mummy Creatures', 16),
 ('Dude Blindness', 16),
 ('Conquerer Nuts', 16),
 ('Paycheck Wait', 16),
 ('Trap Guys', 16),
 ('Watch Tracy', 16),
 ('Command Darling', 16),
 ('Bull Shawshank', 16),
 ('Homeward Cider', 16),
 ('Jeepers Wedding', 16),
 ('Streak Ridgemont', 16),
 ('Indian Love', 16),
 ('Pride Alamo', 16),
 ('Chicago North', 16),
 ('Sagebrush Clueless', 16),
 ('Coldblooded Darling', 16),
 ('Army Flintstones', 16),
 ('Worst Banger', 16),
 ('Moulin Wake', 16),
 ('Patriot Roman', 16),
 ('Graduate Lord', 16),
 ('Pilot Hoosiers', 16),
 ('Reap Unfaithful', 16),
 ('Wanda Chamber', 16),
 ('Words Hunter', 16),
 ('Craft Outfield', 16),
 ('Pure Runner', 16),
 ('Quills Bull', 16),
 ('West Lion', 16),
 ('Casablanca Super', 16),
 ('Creatures Shakespeare', 16),
 ('Rules Human', 16),
 ('Baked Cleopatra', 16),
 ('Wizard Coldblooded', 16),
 ('Gaslight Crusade', 16),
 ('Willow Tracy', 16),
 ('Hall Cassidy', 16),
 ('Uprising Uptown', 16),
 ('Artist Coldblooded', 16),
 ('Caddyshack Jedi', 16),
 ('Attacks Hate', 16),
 ('Mermaid Insects', 16),
 ('Bonnie Holocaust', 16),
 ('Motions Details', 16),
 ('Pluto Oleander', 16),
 ('Summer Scarface', 16),
 ('Slipper Fidelity', 16),
 ('Silence Kane', 16),
 ('Lock Rear', 16),
 ('Daisy Menagerie', 16),
 ('Destiny Saturday', 16),
 ('Varsity Trip', 16),
 ('Human Graffiti', 15),
 ('Lonely Elephant', 15),
 ('Worker Tarzan', 15),
 ('Necklace Outbreak', 15),
 ('Loser Hustler', 15),
 ('Entrapment Satisfaction', 15),
 ('Cyclone Family', 15),
 ('Cabin Flash', 15),
 ('Translation Summer', 15),
 ('Ship Wonderland', 15),
 ('Nash Chocolat', 15),
 ('Anthem Luke', 15),
 ('Shrek License', 15),
 ('Dirty Ace', 15),
 ('Scissorhands Slums', 15),
 ('Boiled Dares', 15),
 ('Vietnam Smoochy', 15),
 ('Panther Reds', 15),
 ('Sons Interview', 15),
 ('Modern Dorado', 15),
 ('Sweet Brotherhood', 15),
 ('Sierra Divide', 15),
 ('Mosquito Armageddon', 15),
 ('Spirit Flintstones', 15),
 ('Odds Boogie', 15),
 ('Edge Kissing', 15),
 ('Siege Madre', 15),
 ('Rings Heartbreakers', 15),
 ('Hunting Musketeers', 15),
 ('Divine Resurrection', 15),
 ('Manchurian Curtain', 15),
 ('Lust Lock', 15),
 ('Tootsie Pilot', 15),
 ('Submarine Bed', 15),
 ('Airplane Sierra', 15),
 ('Model Fish', 15),
 ('Holes Brannigan', 15),
 ('Valley Packer', 15),
 ('Hysterical Grail', 15),
 ('Devil Desire', 15),
 ('Betrayed Rear', 15),
 ('Holiday Games', 15),
 ('Wasteland Divine', 15),
 ('Labyrinth League', 15),
 ('Charade Duffel', 15),
 ('Steers Armageddon', 15),
 ('Illusion Amelie', 15),
 ('Panky Submarine', 15),
 ('Monster Spartacus', 15),
 ('Madison Trap', 15),
 ('Circus Youth', 15),
 ('Shanghai Tycoon', 14),
 ('Nemo Campus', 14),
 ('Virtual Spoilers', 14),
 ('Hamlet Wisdom', 14),
 ('Paris Weekend', 14),
 ('Town Ark', 14),
 ('Shane Darkness', 14),
 ('Blindness Gun', 14),
 ('Turn Star', 14),
 ('Day Unfaithful', 14),
 ('Tomatoes Hellfighters', 14),
 ('Impossible Prejudice', 14),
 ('Notorious Reunion', 14),
 ('Shrunk Divine', 14),
 ('Werewolf Lola', 14),
 ('Wrath Mile', 14),
 ('Image Princess', 14),
 ('Gold River', 14),
 ('Troopers Metal', 14),
 ('Deep Crusade', 14),
 ('Glass Dying', 14),
 ('Peach Innocent', 14),
 ('Madre Gables', 14),
 ('Creepers Kane', 14),
 ('Saddle Antitrust', 14),
 ('Mother Oleander', 14),
 ('Confessions Maguire', 14),
 ('Outlaw Hanky', 14),
 ('Alley Evolution', 14),
 ('Donnie Alley', 14),
 ('Greedy Roots', 14),
 ('Games Bowfinger', 14),
 ('Dances None', 14),
 ('Elephant Trojan', 14),
 ('Stampede Disturbing', 14),
 ('Grinch Massage', 14),
 ('Lovely Jingle', 14),
 ('Home Pity', 14),
 ('Pajama Jawbreaker', 14),
 ('Personal Ladybugs', 14),
 ('Stock Glass', 14),
 ('Jaws Harry', 14),
 ('Splash Gump', 14),
 ('Uncut Suicides', 14),
 ('Analyze Hoosiers', 14),
 ('Searchers Wait', 14),
 ('Kane Exorcist', 14),
 ('Natural Stock', 13),
 ('Anonymous Human', 13),
 ('Spiking Element', 13),
 ('Chisum Behavior', 13),
 ('Behavior Runaway', 13),
 ('Arabia Dogma', 13),
 ('Super Wyoming', 13),
 ('Exorcist Sting', 13),
 ('Bedazzled Married', 13),
 ('Usual Untouchables', 13),
 ('Lawrence Love', 13),
 ('Memento Zoolander', 13),
 ('Saturn Name', 13),
 ('Chamber Italian', 13),
 ('Citizen Shrek', 13),
 ('Moonwalker Fool', 13),
 ('Party Knock', 13),
 ('Hunger Roof', 13),
 ('Microcosmos Paradise', 13),
 ('Everyone Craft', 13),
 ('Connecticut Tramp', 13),
 ('Daddy Pittsburgh', 13),
 ('Mulan Moon', 13),
 ('Champion Flatliners', 13),
 ('Jingle Sagebrush', 13),
 ('Lucky Flying', 13),
 ('Forever Candidate', 13),
 ('Tuxedo Mile', 13),
 ('State Wasteland', 13),
 ('Robbery Bright', 13),
 ('Flash Wars', 13),
 ('Drums Dynamite', 13),
 ('Hollywood Anonymous', 13),
 ('Raging Airplane', 13),
 ('Hook Chariots', 13),
 ('Wyoming Storm', 13),
 ('Cincinatti Whisperer', 13),
 ('Express Lonely', 13),
 ('Tenenbaums Command', 13),
 ('Purple Movie', 13),
 ('Mile Mulan', 13),
 ('Date Speed', 13),
 ('Identity Lover', 13),
 ('Opposite Necklace', 13),
 ('Spinal Rocky', 13),
 ('Bright Encounters', 13),
 ('Breaking Home', 13),
 ('Sassy Packer', 13),
 ('Past Suicides', 13),
 ('Monterey Labyrinth', 13),
 ('Bilko Anonymous', 13),
 ('Darkness War', 13),
 ('Loverboy Attacks', 12),
 ('Minority Kiss', 12),
 ('Tycoon Gathering', 12),
 ('War Notting', 12),
 ('Hedwig Alter', 12),
 ('Adaptation Holes', 12),
 ('Evolution Alter', 12),
 ('Dangerous Uptown', 12),
 ('Mob Duffel', 12),
 ('Savannah Town', 12),
 ('Brannigan Sunrise', 12),
 ('Gunfighter Mussolini', 12),
 ('Meet Chocolate', 12),
 ('Smoochy Control', 12),
 ('Temple Attraction', 12),
 ('Finding Anaconda', 12),
 ('Mighty Luck', 12),
 ('African Egg', 12),
 ('Crow Grease', 12),
 ('Side Ark', 12),
 ('Alabama Devil', 12),
 ('Liberty Magnificent', 12),
 ('Vampire Whale', 12),
 ('Massage Image', 12),
 ('Lost Bird', 12),
 ('Silverado Goldfinger', 12),
 ('Born Spinal', 12),
 ('Pittsburgh Hunchback', 12),
 ('Window Side', 12),
 ('Blanket Beverly', 12),
 ('California Birds', 12),
 ('Sorority Queen', 12),
 ('Flight Lies', 12),
 ('Valentine Vanishing', 12),
 ('Speakeasy Date', 12),
 ('Uptown Young', 12),
 ('Beast Hunchback', 11),
 ('Bugsy Song', 11),
 ('Lord Arizona', 11),
 ('Fugitive Maguire', 11),
 ('Trainspotting Strangers', 11),
 ('Cranes Reservoir', 11),
 ('October Submarine', 11),
 ('Birch Antitrust', 11),
 ('Iron Moon', 11),
 ('Autumn Crow', 11),
 ('Bowfinger Gables', 11),
 ('Ending Crowds', 11),
 ('Language Cowboy', 11),
 ('Frida Slipper', 11),
 ('Mod Secretary', 11),
 ('Drumline Cyclone', 11),
 ('Potluck Mixed', 11),
 ('Prix Undefeated', 11),
 ('Towers Hurricane', 11),
 ('Song Hedwig', 11),
 ('Ties Hunger', 11),
 ('Beethoven Exorcist', 11),
 ('North Tequila', 11),
 ('Rider Caddyshack', 11),
 ('Spirited Casualties', 11),
 ('Magnolia Forrester', 11),
 ('Santa Paris', 11),
 ('Reef Salute', 11),
 ('Dragon Squad', 11),
 ('Bird Independence', 11),
 ('Thin Sagebrush', 11),
 ('Stranger Strangers', 11),
 ('Opus Ice', 11),
 ('Twisted Pirates', 11),
 ('Gathering Calendar', 11),
 ('Stone Fire', 11),
 ('Darko Dorado', 11),
 ('Theory Mermaid', 11),
 ('Feathers Metal', 11),
 ('Element Freddy', 10),
 ('Lover Truman', 10),
 ('Grail Frankenstein', 10),
 ('Maker Gables', 10),
 ('Reservoir Adaptation', 10),
 ('Doubtfire Labyrinth', 10),
 ('Spoilers Hellfighters', 10),
 ('Smile Earring', 10),
 ('Oleander Clue', 10),
 ('Lambs Cincinatti', 10),
 ('Right Cranes', 10),
 ('Halloween Nuts', 10),
 ('Beneath Rush', 10),
 ('Luck Opus', 10),
 ('Run Pacific', 10),
 ('Rollercoaster Bringing', 10),
 ('Notting Speakeasy', 10),
 ('Wars Pluto', 10),
 ('Sensibility Rear', 10),
 ('Wagon Jaws', 10),
 ('Jawbreaker Brooklyn', 10),
 ('Elizabeth Shane', 10),
 ('Madigan Dorado', 10),
 ('Frogmen Breaking', 10),
 ('Superfly Trip', 10),
 ('Jeopardy Encino', 10),
 ('Paths Control', 10),
 ('Stage World', 10),
 ('Gone Trouble', 10),
 ('Lolita World', 10),
 ('Life Twisted', 10),
 ('Blood Argonauts', 10),
 ('Fiddler Lost', 10),
 ('Mystic Truman', 10),
 ('Clockwork Paradise', 10),
 ('Amelie Hellfighters', 10),
 ('Hollow Jeopardy', 10),

In [102]:
# суммарные доходы магазинов
sel = connection.execute(text("""
SELECT s.store_id, SUM(p.amount) FROM store s
JOIN staff st ON s.store_id = st.store_id
JOIN payment p ON st.staff_id = p.staff_id
GROUP BY s.store_id;
""")).fetchall()
pprint(sel)

[(1, Decimal('30252.12')), (2, Decimal('31059.92'))]

In [106]:
# Найдем города и страны каждого магазина
sel = connection.execute(text("""
SELECT store_id, city, country FROM store s
JOIN address a ON s.address_id = a.address_id
JOIN city c ON a.city_id = c.city_id
JOIN country co ON c.country_id = co.country_id;
""")).fetchall()
pprint(sel)

[(1, 'Lethbridge', 'Canada'), (2, 'Woodridge', 'Australia')]

In [115]:
# Топ 5 жанров по доходу
sel = connection.execute(text("""
SELECT c.name, SUM(p.amount) profit FROM category c
JOIN film_category fc ON c.category_id = fc.category_id
JOIN inventory i ON fc.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id
GROUP BY c.name
ORDER BY profit DESC
LIMIT 5;
""")).fetchall()
pprint(sel)

[('Sports', Decimal('4892.19')),
 ('Sci-Fi', Decimal('4336.01')),
 ('Animation', Decimal('4245.31')),
 ('Drama', Decimal('4118.46')),
 ('Comedy', Decimal('4002.48'))]