In [4]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)

In [5]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\programdata\anaconda3\lib\site-packages (2.9.9)

In [6]:
from pprint import pprint
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import text

In [7]:
# создаем engine
# типCубд://пользователь:пароль@url/база

engine = create_engine("postgresql+psycopg2://demo:demo@localhost:5432/demo")

In [8]:
# устанавливаем соединение
connection = engine.connect()

In [9]:
# какие таблицы есть в БД
pprint(sqlalchemy.inspect(engine).get_table_names())

['film',
 'actor',
 'address',
 'category',
 'city',
 'country',
 'customer',
 'film_actor',
 'film_category',
 'inventory',
 'language',
 'payment',
 'rental',
 'staff',
 'store']

In [10]:
# Список полей таблицы film
column_ls = connection.execute(text("""
    SELECT COLUMN_NAME
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE table_name = 'film';
"""))
print(list(column_ls))

[('fulltext',), ('rating',), ('last_update',), ('film_id',), ('release_year',), ('language_id',), ('rental_duration',), ('rental_rate',), ('length',), ('replacement_cost',), ('title',), ('description',), ('special_features',)]

In [11]:
# выберем названия фильмов из таблицы film, первые 10 записей
sel = connection.execute(text("select title from film;")).fetchmany(10)
pprint(sel)

[('Chamber Italian',),
 ('Grosse Wonderful',),
 ('Airport Pollock',),
 ('Bright Encounters',),
 ('Academy Dinosaur',),
 ('Ace Goldfinger',),
 ('Adaptation Holes',),
 ('Affair Prejudice',),
 ('African Egg',),
 ('Agent Truman',)]

In [12]:
# выберем первые 10 записей из таблицы film
sel = connection.execute(text("select * from film;")).fetchmany(10)
pprint(sel)
print(type(sel))

[(133, 'Chamber Italian', 'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria', 2006, 1, 7, Decimal('4.99'), 117, Decimal('14.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':14 'reflect':5"),
 (384, 'Grosse Wonderful', 'A Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia', 2006, 1, 5, Decimal('4.99'), 49, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'australia':18 'cat':8 'drama':5 'epic':4 'explor':11 'gross':1 'moos':16 'must':13 'redeem':14 'wonder':2"),
 (8, 'Airport Pollock', 'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India', 2006, 1, 6, Decimal('4.99'), 54, Decimal('15.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'airport':1 'ancient':18 'confront':14 'epic':4 'girl':11 'india':19 'monkey':16 'moos':8 'must':13 'pollock':2 'tale':5"),
 (98, 'Bright Encounters', 'A Fateful Yarn of a Lumberjack And a Feminist who must Conquer a Student in A Jet Boat', 2006, 1, 4, Decimal('4.99'), 73, Decimal('12.99'), 'PG-13', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'boat':20 'bright':1 'conquer':14 'encount':2 'fate':4 'feminist':11 'jet':19 'lumberjack':8 'must':13 'student':16 'yarn':5"),
 (1, 'Academy Dinosaur', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes', 'Behind the Scenes'], "'academi':1 'battl':15 'canadian':20 'dinosaur':2 'drama':5 'epic':4 'feminist':8 'mad':11 'must':14 'rocki':21 'scientist':12 'teacher':17"),
 (2, 'Ace Goldfinger', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', 2006, 1, 3, Decimal('4.99'), 48, Decimal('12.99'), 'G', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'ace':1 'administr':9 'ancient':19 'astound':4 'car':17 'china':20 'databas':8 'epistl':5 'explor':12 'find':15 'goldfing':2 'must':14"),
 (3, 'Adaptation Holes', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', 2006, 1, 7, Decimal('2.99'), 50, Decimal('18.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers', 'Deleted Scenes'], "'adapt':1 'astound':4 'baloon':19 'car':11 'factori':20 'hole':2 'lumberjack':8,16 'must':13 'reflect':5 'sink':14"),
 (4, 'Affair Prejudice', 'A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank', 2006, 1, 5, Decimal('2.99'), 117, Decimal('26.99'), 'G', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Commentaries', 'Behind the Scenes'], "'affair':1 'chase':14 'documentari':5 'fanci':4 'frisbe':8 'lumberjack':11 'monkey':16 'must':13 'prejudic':2 'shark':19 'tank':20"),
 (5, 'African Egg', 'A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico', 2006, 1, 6, Decimal('2.99'), 130, Decimal('22.99'), 'G', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes'], "'african':1 'chef':11 'dentist':14 'documentari':7 'egg':2 'fast':5 'fast-pac':4 'forens':19 'gulf':23 'mexico':25 'must':16 'pace':6 'pastri':10 'psychologist':20 'pursu':17"),
 (6, 'Agent Truman', 'A Intrepid Panorama of a Robot And a Boy who must Escape a Sumo Wrestler in Ancient China', 2006, 1, 3, Decimal('2.99'), 169, Decimal('17.99'), 'PG', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Deleted Scenes'], "'agent':1 'ancient':19 'boy':11 'china':20 'escap':14 'intrepid':4 'must':13 'panorama':5 'robot':8 'sumo':16 'truman':2 'wrestler':17")]
<class 'list'>

In [12]:
# выберем название и год выхода фильмов из таблицы film, первые 10 записей
sel = connection.execute(text("select title, release_year from film;")).fetchmany(10)
pprint(sel)

[('Chamber Italian', 2006),
 ('Grosse Wonderful', 2006),
 ('Airport Pollock', 2006),
 ('Bright Encounters', 2006),
 ('Academy Dinosaur', 2006),
 ('Ace Goldfinger', 2006),
 ('Adaptation Holes', 2006),
 ('Affair Prejudice', 2006),
 ('African Egg', 2006),
 ('Agent Truman', 2006)]

In [13]:
# выберем имена и фамилии актеров из таблицы actor, первые 10 записей
sel = connection.execute(text("select first_name, last_name from actor;")).fetchmany(10)
pprint(sel)

[('Penelope', 'Guiness'),
 ('Nick', 'Wahlberg'),
 ('Ed', 'Chase'),
 ('Jennifer', 'Davis'),
 ('Johnny', 'Lollobrigida'),
 ('Bette', 'Nicholson'),
 ('Grace', 'Mostel'),
 ('Matthew', 'Johansson'),
 ('Joe', 'Swank'),
 ('Christian', 'Gable')]

In [14]:
# DISTINCT- только уникальные значения
sel = connection.execute(text("select rating from film;")).fetchmany(10)
pprint(sel)

sel = connection.execute(text("select DISTINCT rating from film;")).fetchmany(10)
pprint(sel)

[('NC-17',),
 ('R',),
 ('R',),
 ('PG-13',),
 ('PG',),
 ('G',),
 ('NC-17',),
 ('G',),
 ('G',),
 ('PG',)]
[('PG-13',), ('PG',), ('G',), ('R',), ('NC-17',)]

In [15]:
# Арифметика
# переведем оплату в тенге
sel = connection.execute(text("SELECT amount from payment;")).fetchmany(5)
pprint(sel)
sel = connection.execute(text("SELECT amount * 475 from payment;")).fetchmany(5)
pprint(sel)
pprint(float(sel[0][0]))

[(Decimal('7.99'),),
 (Decimal('1.99'),),
 (Decimal('7.99'),),
 (Decimal('2.99'),),
 (Decimal('7.99'),)]
[(Decimal('3795.25'),),
 (Decimal('945.25'),),
 (Decimal('3795.25'),),
 (Decimal('1420.25'),),
 (Decimal('3795.25'),)]
3795.25

In [16]:
# вычислим время аренды
sel = connection.execute(text("SELECT return_date - rental_date from rental;")).fetchmany(10)
pprint(sel)
print(sel[0][0].days)
print(sel[1][0].seconds)

[(datetime.timedelta(days=3, seconds=74760),),
 (datetime.timedelta(days=7, seconds=83340),),
 (datetime.timedelta(days=9, seconds=9540),),
 (datetime.timedelta(days=8, seconds=19680),),
 (datetime.timedelta(days=2, seconds=8640),),
 (datetime.timedelta(days=4, seconds=76980),),
 (datetime.timedelta(days=3, seconds=120),),
 (datetime.timedelta(days=3, seconds=1320),),
 (datetime.timedelta(days=6, seconds=81720),),
 (datetime.timedelta(days=8, seconds=74820),)]
3
83340

In [17]:
# Оператор WHERE
sel = connection.execute(text("""SELECT title, release_year  from film
    WHERE release_year > 2000;
    """)).fetchmany(10)
pprint(sel)
exit(0)

[('Chamber Italian', 2006),
 ('Grosse Wonderful', 2006),
 ('Airport Pollock', 2006),
 ('Bright Encounters', 2006),
 ('Academy Dinosaur', 2006),
 ('Ace Goldfinger', 2006),
 ('Adaptation Holes', 2006),
 ('Affair Prejudice', 2006),
 ('African Egg', 2006),
 ('Agent Truman', 2006)]

In [18]:
# критерий не обязан входить в выборку
# найдем всех действующих сотрудников
sel = connection.execute(text("""SELECT first_name, last_name  from staff
    WHERE active = true;
    """)).fetchmany(10)
pprint(sel)

[('Mike', 'Hillyer'), ('Jon', 'Stephens')]

In [19]:
# найдем всех действующих сотрудников, кроме магазина № 1
sel = connection.execute(text("""SELECT first_name, last_name  from staff
    WHERE active = true AND NOT store_id = 1;
    """)).fetchmany(10)
pprint(sel)

[('Jon', 'Stephens')]

In [20]:
# найдем фильмы, прокат которых стоит меньше 4.99 и стоимость возмещения меньше 14.99
sel = connection.execute(text("""SELECT title, rental_rate, replacement_cost  from film
    WHERE rental_rate < 4.99 AND replacement_cost < 14.99;
    """)).fetchmany(10)
pprint(sel)

[('Alien Center', Decimal('2.99'), Decimal('10.99')),
 ('Amistad Midsummer', Decimal('2.99'), Decimal('10.99')),
 ('Anaconda Confessions', Decimal('0.99'), Decimal('9.99')),
 ('Anonymous Human', Decimal('0.99'), Decimal('12.99')),
 ('Antitrust Tomatoes', Decimal('2.99'), Decimal('11.99')),
 ('Argonauts Town', Decimal('0.99'), Decimal('12.99')),
 ('Armageddon Lost', Decimal('0.99'), Decimal('10.99')),
 ('Artist Coldblooded', Decimal('2.99'), Decimal('10.99')),
 ('Balloon Homeward', Decimal('2.99'), Decimal('10.99')),
 ('Bill Others', Decimal('2.99'), Decimal('12.99'))]

In [21]:
# найдем фильмы с рейтингом "R", "NC-17"
sel = connection.execute(text("""SELECT title, description  from film
    WHERE rating IN ('R', 'NC-17');
    """)).fetchmany(10)
pprint(sel)

[('Chamber Italian', 'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria'),
 ('Grosse Wonderful', 'A Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia'),
 ('Airport Pollock', 'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India'),
 ('Adaptation Holes', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory'),
 ('Aladdin Calendar', 'A Action-Packed Tale of a Man And a Lumberjack who must Reach a Feminist in Ancient China'),
 ('Date Speed', 'A Touching Saga of a Composer And a Moose who must Discover a Dentist in A MySQL Convention'),
 ('Alice Fantasia', 'A Emotional Drama of a A Shark And a Database Administrator who must Vanquish a Pioneer in Soviet Georgia'),
 ('Alien Center', 'A Brilliant Drama of a Cat And a Mad Scientist who must Battle a Feminist in A MySQL Convention'),
 ('Alley Evolution', 'A Fast-Paced Drama of a Robot And a Composer who must Battle a Astronaut in New Orleans'),
 ('Alone Trip', 'A Fast-Paced Character Study of a Composer And a Dog who must Outgun a Boat in An Abandoned Fun House')]

In [22]:
# BETWEEN
# найдем фильмы со стоимостью проката от 2.99 до 4.99
sel = connection.execute(text("""SELECT title, description, rental_rate from film
    WHERE rental_rate BETWEEN 2.99 AND 4.99;
    """)).fetchmany(10)
pprint(sel)

[('Chamber Italian', 'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria', Decimal('4.99')),
 ('Grosse Wonderful', 'A Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia', Decimal('4.99')),
 ('Airport Pollock', 'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India', Decimal('4.99')),
 ('Bright Encounters', 'A Fateful Yarn of a Lumberjack And a Feminist who must Conquer a Student in A Jet Boat', Decimal('4.99')),
 ('Ace Goldfinger', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', Decimal('4.99')),
 ('Adaptation Holes', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', Decimal('2.99')),
 ('Affair Prejudice', 'A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank', Decimal('2.99')),
 ('African Egg', 'A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico', Decimal('2.99')),
 ('Agent Truman', 'A Intrepid Panorama of a Robot And a Boy who must Escape a Sumo Wrestler in Ancient China', Decimal('2.99')),
 ('Airplane Sierra', 'A Touching Saga of a Hunter And a Butler who must Discover a Butler in A Jet Boat', Decimal('4.99'))]

In [23]:
# LIKE
# найдем фильмы, в описании которых есть scientist
sel = connection.execute(text("""SELECT title, description from film
    WHERE description LIKE '%%Scientist%%';
    """)).fetchmany(10)
pprint(sel)

[('Academy Dinosaur', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies'),
 ('Alabama Devil', 'A Thoughtful Panorama of a Database Administrator And a Mad Scientist who must Outgun a Mad Scientist in A Jet Boat'),
 ('Alien Center', 'A Brilliant Drama of a Cat And a Mad Scientist who must Battle a Feminist in A MySQL Convention'),
 ('Arachnophobia Rollercoaster', 'A Action-Packed Reflection of a Pastry Chef And a Composer who must Discover a Mad Scientist in The First Manned Space Station'),
 ('Arizona Bang', 'A Brilliant Panorama of a Mad Scientist And a Mad Cow who must Meet a Pioneer in A Monastery'),
 ('Attacks Hate', 'A Fast-Paced Panorama of a Technical Writer And a Mad Scientist who must Find a Feminist in An Abandoned Mine Shaft'),
 ('Backlash Undefeated', 'A Stunning Character Study of a Mad Scientist And a Mad Cow who must Kill a Car in A Monastery'),
 ('Badman Dawn', 'A Emotional Panorama of a Pioneer And a Composer who must Escape a Mad Scientist in A Jet Boat'),
 ('Balloon Homeward', 'A Insightful Panorama of a Forensic Psychologist And a Mad Cow who must Build a Mad Scientist in The First Manned Space Station'),
 ('Basic Easy', 'A Stunning Epistle of a Man And a Husband who must Reach a Mad Scientist in A Jet Boat')]

In [24]:
# сортировка, LIMIT
# отсортируем фильмы по цене проката и длительности
sel = connection.execute(text("""SELECT title, description, rental_rate, length from film
    WHERE rental_rate BETWEEN 2.99 AND 4.99
    ORDER BY rental_rate, length
    LIMIT 10;
    """)).fetchall()
pprint(sel)

[('Labyrinth League', 'A Awe-Inspiring Saga of a Composer And a Frisbee who must Succumb a Pioneer in The Sahara Desert', Decimal('2.99'), 46),
 ('Alien Center', 'A Brilliant Drama of a Cat And a Mad Scientist who must Battle a Feminist in A MySQL Convention', Decimal('2.99'), 46),
 ('Suspects Quills', 'A Emotional Epistle of a Pioneer And a Crocodile who must Battle a Man in A Manhattan Penthouse', Decimal('2.99'), 47),
 ('Shanghai Tycoon', 'A Fast-Paced Character Study of a Crocodile And a Lumberjack who must Build a Husband in An Abandoned Fun House', Decimal('2.99'), 47),
 ('Divorce Shining', 'A Unbelieveable Saga of a Crocodile And a Student who must Discover a Cat in Ancient India', Decimal('2.99'), 47),
 ('Halloween Nuts', 'A Amazing Panorama of a Forensic Psychologist And a Technical Writer who must Fight a Dentist in A U-Boat', Decimal('2.99'), 47),
 ('Heaven Freedom', 'A Intrepid Story of a Butler And a Car who must Vanquish a Man in New Orleans', Decimal('2.99'), 48),
 ('Paradise Sabrina', 'A Intrepid Yarn of a Car And a Moose who must Outrace a Crocodile in A Manhattan Penthouse', Decimal('2.99'), 48),
 ('Hurricane Affair', 'A Lacklusture Epistle of a Database Administrator And a Woman who must Meet a Hunter in An Abandoned Mine Shaft', Decimal('2.99'), 49),
 ('Adaptation Holes', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', Decimal('2.99'), 50)]

In [25]:
# самый длинный фильм
sel = connection.execute(text("""SELECT title, length from film
    ORDER BY length DESC
    LIMIT 1;
    """)).fetchall()
pprint(sel)

[('Chicago North', 185)]

In [26]:
# INSERT
# Список полей таблицы rental
column_ls = connection.execute(text("""
    SELECT COLUMN_NAME
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE table_name = 'rental'
"""))
print(list(column_ls))

[('rental_id',), ('rental_date',), ('inventory_id',), ('customer_id',), ('return_date',), ('staff_id',), ('last_update',)]

In [16]:
# примеры записей
sel = connection.execute(text("SELECT * FROM rental;")).fetchmany(10)
pprint(sel)

# sel = connection.execute(text("""INSERT INTO rental(rental_date, inventory_id, customer_id, staff_id)
#     VALUES(now(), 1525, 459, 2);
#     """))
print()
sel = connection.execute(text("SELECT * FROM rental ORDER BY rental_id DESC;")).fetchmany(1)
pprint(sel)

[(2, datetime.datetime(2005, 5, 24, 22, 54, 33), 1525, 459, datetime.datetime(2005, 5, 28, 19, 40, 33), 1, datetime.datetime(2006, 2, 16, 2, 30, 53)),
 (3, datetime.datetime(2005, 5, 24, 23, 3, 39), 1711, 408, datetime.datetime(2005, 6, 1, 22, 12, 39), 1, datetime.datetime(2006, 2, 16, 2, 30, 53)),
 (4, datetime.datetime(2005, 5, 24, 23, 4, 41), 2452, 333, datetime.datetime(2005, 6, 3, 1, 43, 41), 2, datetime.datetime(2006, 2, 16, 2, 30, 53)),
 (5, datetime.datetime(2005, 5, 24, 23, 5, 21), 2079, 222, datetime.datetime(2005, 6, 2, 4, 33, 21), 1, datetime.datetime(2006, 2, 16, 2, 30, 53)),
 (6, datetime.datetime(2005, 5, 24, 23, 8, 7), 2792, 549, datetime.datetime(2005, 5, 27, 1, 32, 7), 1, datetime.datetime(2006, 2, 16, 2, 30, 53)),
 (7, datetime.datetime(2005, 5, 24, 23, 11, 53), 3995, 269, datetime.datetime(2005, 5, 29, 20, 34, 53), 2, datetime.datetime(2006, 2, 16, 2, 30, 53)),
 (8, datetime.datetime(2005, 5, 24, 23, 31, 46), 2346, 239, datetime.datetime(2005, 5, 27, 23, 33, 46), 2, datetime.datetime(2006, 2, 16, 2, 30, 53)),
 (9, datetime.datetime(2005, 5, 25, 0, 0, 40), 2580, 126, datetime.datetime(2005, 5, 28, 0, 22, 40), 1, datetime.datetime(2006, 2, 16, 2, 30, 53)),
 (10, datetime.datetime(2005, 5, 25, 0, 2, 21), 1824, 399, datetime.datetime(2005, 5, 31, 22, 44, 21), 2, datetime.datetime(2006, 2, 16, 2, 30, 53)),
 (11, datetime.datetime(2005, 5, 25, 0, 9, 2), 4443, 142, datetime.datetime(2005, 6, 2, 20, 56, 2), 2, datetime.datetime(2006, 2, 16, 2, 30, 53))]

[(16062, datetime.datetime(2023, 10, 25, 15, 20, 32, 350443), 1525, 459, None, 2, datetime.datetime(2023, 10, 25, 15, 20, 32, 350443))]